.main-content {
    &__no-sidebars {
        padding: spacing(xxlarge) spacing(xlarge);
    }
    &__no-sidebars-span {
        max-width: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    &__sidebars {
        display: -ms-grid;
        display: grid;
        &--first {
            @media (min-width: ($bp--medium + 1)) {
                grid-template-columns: 1fr 2fr;
                grid-row-start: 1;
            }
            article {
                padding: spacing(large);
                @media (min-width: ($bp--medium + 1)) {
                    grid-column: 2/span 1;
                    grid-row-start: 1;
                }
                @media (max-width: $bp--medium) {
                    grid-row-start: 2;
                }
            }
            aside {
                padding: spacing(large);
                @media (min-width: ($bp--medium + 1)) {
                    grid-column: 1 / span 1;
                    grid-row-start: 1;
                }
                @media (max-width: $bp--medium) {
                    grid-row-start: 1;
                }
            }
        }

        &--second {
            @include container;
            @media (min-width: ($bp--medium + 1)) {
                grid-template-columns: 2fr 1fr;
                grid-row-start: 1;
                padding: spacing(xxlarge) spacing(large);
            }
            @media (max-width: $bp--medium) {
                padding: spacing(small);
            }
            article {
                @media (min-width: ($bp--medium + 1)) {
                    grid-column: 1 / span 1;
                    grid-row-start: 1;
                }
            }
            aside {
                @media (min-width: ($bp--medium + 1)) {
                    grid-column: 2/span 1;
                    grid-row-start: 1;
                    padding-top: spacing(xxlarge);
                }
                @media (max-width: $bp--medium) {
                    padding-top: spacing(large);
                }
            }
        }
    }
}
