.paragraph--type--three-columns {
    &.container { padding: 0 spacing(xlarge); }
    @include grid(18px, 0);
    @media (min-width: ($bp--medium + 1)) {
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        .paragraph--item:nth-child(1) {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/span 1;
        }
        .paragraph--item:nth-child(2) {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2/span 1;
        }
        .paragraph--item:nth-child(3) {
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            grid-column: 3/span 1;
        }
    }
    @media (min-width: ($bp--small + 1)) and (max-width: ($bp--medium + 1)) {
        .card {
            @include grid(18px, 0);
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -ms-grid-columns: 1fr 2.5fr;
                grid-template-columns: 1fr 2.5fr;
            .image-wrapper {
                -ms-grid-column: 1;
                    grid-column-start: 1;
                margin-top: 20px;
            }
            .content-wrapper {
                -ms-grid-column: 2;
                    grid-column-start: 2;
            }
        }
    }
}