.paragraph--type--three-columns-pull-left {
    &.container { padding: 0 spacing(xlarge); }
    @media (max-width: $bp--small) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        grid-row-gap: spacing(xlarge);
    }
    @media (min-width: ($bp--small + 1)) and (max-width: ($bp--medium - 1)) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        grid-row-gap: spacing(xlarge);
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        .paragraph--item:nth-child(2) {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/span 1;
        }
        .paragraph--item:nth-child(3) {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2/span 1;
        }
        .paragraph--item--pull {
            -ms-grid-row: 1;
                grid-row-start: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-column: 1/span 2;
        }
    }
    @media (min-width: $bp--medium) {
        display: -ms-grid;
        display: grid;
        grid-column-gap: spacing(xlarge);
        -ms-grid-columns: 3fr 1.7fr 1.7fr;
            grid-template-columns: 3fr 1.7fr 1.7fr;
        .paragraph--item--pull {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/span 1;
        }
        .paragraph--item:nth-child(2) {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2/span 1;
        }
        .paragraph--item:nth-child(3) {
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            grid-column: 3/span 1;
        }
    }
}