//
// Grid mixins
//

$grid__bp-sm: 640;
$grid__bp-md: 768;
$grid__bp-lg: 960;
$grid__bp-xl: 1024;

$grid__cols: 12;

$map-grid-props: ("-small": 0, "-medium": $grid__bp-md, "-large": $grid__bp-lg, "-xlarge": $grid__bp-xl);

@mixin create-mq($breakpoint) {
    @if $breakpoint == 0 {
        @content;
    }
    @else {
        @media screen and (min-width: $breakpoint * 1px) {
            @content;
        }
    }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
    @include create-mq($breakpoint) {
        @for $i from 1 through $grid-cols {
            &__col#{$modifier}-#{$i} {
                flex-basis: 100 / ($grid-cols / $i) * 1%;
            }
        }
    }
}

.fg {
    &__container {
        max-width: $grid__bp-md * 1px;
        margin: 0 auto;

        &--fluid {
            margin: 0;
            max-width: 100%;
        }
    }

    &__row {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    @each $modifier, $breakpoint in $map-grid-props {
        @include create-col-classes($modifier, $grid__cols, $breakpoint);
    }
}

//Styling of grid for demonstration purposes
.fg--debug {
    &__container {
        background-color: #88d8b0;
        padding: 10px;
    }

    &__row {
        background-color: #ffeead;
    }

    [class*="fg__col-"] {
        width: 150px;
        min-height: 30px;
        background-color: #ff6f69;
        outline: 1px solid #ffcc5c;
        margin: 10px 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;
    }
}

@mixin grid($columngap, $rowgap) {
    display: -ms-grid;
    display: grid;

    @if $columngap > 0 {
        grid-column-gap: $columngap;
    }

    @if $rowgap > 0 {
        grid-row-gap: $rowgap;
    }
}
