/**/
/* Header*/
/* */
/* Set up styles for the header region*/
/**/

.header {
    border-bottom: 1px solid getColor(grey, light);
    opacity: 1;
    -webkit-transition: opacity, 200ms;
    transition: opacity, 200ms;

    @media (min-width: $bp--medium + 1) {
        &--fixed {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 101;

            &__utility-wrapper {
                display: none;
            }
        }
    }

    &__search--trigger {
        font-size: em(fontSize(xxsmall));
        color: getColor(text);
        cursor: pointer;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
        font-family: $body-font;
        font-weight: fontWeight(regular);

        @media (min-width: $bp--medium + 1) {
            padding: 0;
        }

        &:hover {
            color: getColor(primary);
        }

        &:before {
            background-image: url("../assets/icons/svg/search.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px auto;
            content: "";
            display: inline-block;
            height: 24px;
            margin-right: 6px;
            width: 24px;
        }
    }

    .search-block-form form {
        max-width: none;
        position: relative;

        .form-item {
            margin: 0;
            position: relative;
            top: 0;

            input[type=search] {
                width: 100%;
                padding: 1em;
                padding-right: 7em;
            }
        }

        .form-actions {
            position: absolute;
            right: 0.75em;
            top: 0;
            bottom: 0;
            margin: 0;

            input[type=submit] {
                z-index: 1;
                width: 6em;
                padding: 0;
                cursor: pointer;
                box-shadow: none;
                border-radius: 0;
                display: inline-block;
                padding: 0;
                background-color: #FFFFFF;
                border: 0;
                font-size: 0;
            }
        }
    }

    &__utility-wrapper {
        background: getColor(grey, lighter);
        color: getColor(grey);
        padding: 0 spacing(xlarge);
    }

    &__logo a {
        display: block;

        img {
            width: 100%;
        }
    }

    /* Menu layout*/
    &__main-wrapper {
        @media all and (min-width: $bp--medium + 1) {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
        }

        @media all and (max-width: $bp--medium) {
            display: -ms-grid;
            display: grid;
            grid-row-gap: 25px;
            grid-template-columns: 1fr 1fr;

            .header {
                &__logo {
                    -ms-grid-column: 2;
                    -ms-grid-column-span: -1;
                    grid-column: 2 / 1;
                    -ms-grid-row: 2;
                    -ms-grid-row-span: -1;
                    grid-row: 2 / 1;
                    -ms-grid-row-align: center;
                    align-self: center;
                }

                &__primaryNav {
                    -ms-grid-column: 1;
                    -ms-grid-column-span: 2;
                    grid-column: 1 / 3;

                    ul.menu {
                        display: none;
                    }
                }
            }

            .mobileNav__trigger {
                -ms-grid-column: 2;
                grid-column: 2 / 2;
                -ms-grid-row: 2;
                -ms-grid-row-span: -1;
                grid-row: 2 / 1;
            }
        }
    }
}
