// 1.Main navigation styles including mobile
// 2.Mega menu desktop
// 3.Pager
// 4.Mobile menu trigger

// Main navigation styles
ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &--inline {
        @media screen and (min-width: $bp--medium + 1) {
            display: -webkit-inline-box;
            display: inline-flex;
        }
    }

    &__main-menu {
        li.menu__item {
            -webkit-transition: color 250ms ease;
            transition: color 250ms ease;

            a {
                font-size: $mainNav-fontsize;
                color: $mainNav-link;
                line-height: $fb--base-lineHeight;
                text-decoration: none;
                padding: 10px;
                margin: 0 10px;

                &:hover {
                    color: $mainNav-hover;
                }

                &:focus {
                    text-decoration: underline;
                }
            }

            &--collapsed {
                position: relative;

                span {
                    &:after {
                        background-image: url("../assets/icons/svg/down-chevron.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        content: '';
                        display: block;
                        height: 6px;
                        position: absolute;
                        -webkit-transition: -webkit-transform 250ms;
                        transition: -webkit-transform 250ms;
                        transition: transform 250ms;
                        transition: transform 250ms, -webkit-transform 250ms;
                        width: 10px;
                        z-index: 1;

                        &::-ms-expand {
                            display: none;
                        }
                    }

                    &.active:after {
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
        }

        // Mobile
        @media (max-width: $bp--medium - 1) {
            display: block;

            // Level 1
            li.menu__item {
                padding: 0;
                border-bottom: 1px solid getColor(white);

                a, span {
                    font-family: $body-font;
                    display: block;
                    padding: 8px spacing(xlarge);
                    color: getColor(white);
                }

                > ul.menu__main-menu li.menu__item a {
                    font-family: $body-font;
                    padding: 8px spacing(xlarge) 8px spacing(xxxlarge);
                }

                &:last-of-type {
                    border-bottom: 0 !important;
                }

                // Level 2
                &--expanded {
                    > ul {
                        display: none;

                        li a {
                            text-transform: none;
                            font-weight: fontWeight(bold);

                            &.is-active {
                                background-image: url("../assets/icons/svg/arrow-full-right-white.svg");
                                background-repeat: no-repeat;
                                background-size: 14px;
                                background-position: top 15px left 23px;
                            }
                        }
                    }

                    > a, > span {
                        background-repeat: no-repeat;
                        background-size: 14px;
                        background-position: center right 25px;

                        &.child-menu-active {
                            background-image: url("../assets/icons/svg/arrow-full-up-white.svg") !important;
                        }
                    }
                }
            }

            &.main-menu {
                background-color: getColor(primary);

                > li.menu__item--expanded {
                    > a, > span {
                        background-image: url("../assets/icons/svg/arrow-full-down-white.svg");
                    }

                    > ul {
                        background-color: getColor(primary, dark);
                    }

                    &:last-of-type > ul {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__sidebar {
        // Level 1
        li.menu__sidebar__item {
            margin-left: 0;

            a,
            span {
                font-size: $sidebarNav-fontsize;
                cursor: pointer;
                display: block;

                @media (min-width: $bp--medium + 1) {
                    padding: 0.5em 0.5em 0.5em 2.5em;
                }

                @media (max-width: $bp--medium) {
                    padding: 0.5em 0;
                }

                &:link,
                &:visited {
                    color: $sidebarNav-link;
                }

                &.is-active,
                &:hover {
                    color: $sidebarNav-active;
                }
            }

            span {
                cursor: pointer;
                position: relative;
                border-bottom: 1px solid getColor(primary, lighter);
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;

                &:after {
                    background-image: url("../assets/icons/svg/arrow--down.svg");
                    background-repeat: no-repeat;
                    content: '';
                    display: block;
                    height: 8px;
                    -webkit-transition: -webkit-transform 250ms;
                    transition: -webkit-transform 250ms;
                    transition: transform 250ms;
                    transition: transform 250ms, -webkit-transform 250ms;
                    width: 14px;
                    z-index: 1;
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);

                    &::-ms-expand {
                        display: none;
                    }
                }

                &.menu__sidebar--open:after {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }

            a.is-active {
                border-left: 4px solid $sidebarNav-active;
                color: $sidebarNav-active;
                padding: 0.5em 0 0.5em 2.5em;
            }

            // Level 2
            &--expanded {
                // Level 3
                > ul {
                    display: none;

                    > li.menu__sidebar__item {
                        margin-left: 15px;
                    }
                }
            }

            &--collapsed {
                position: relative;

                span {
                    &:after {
                        background-image: url("../assets/icons/svg/down-chevron.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        content: '';
                        display: block;
                        height: 6px;
                        position: absolute;
                        -webkit-transition: -webkit-transform 250ms;
                        transition: -webkit-transform 250ms;
                        transition: transform 250ms;
                        transition: transform 250ms, -webkit-transform 250ms;
                        width: 10px;
                        z-index: 1;

                        &::-ms-expand {
                            display: none;
                        }
                    }

                    &.active:after {
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

// Mega menu
.menu__mega-menu {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &.active {
        display: block;
    }

    &--container {
        position: relative;
        background-color: getColor(primary);
        padding: 2em;
    }

    &--main-wrapper {
        border-radius: 5px;
        background-color: getColor(white);
        padding: 2em;

        .mega-menu {
            display: -webkit-box;
            display: flex;

            ul li {
                &.mega-menu__item {
                    display: block;

                    &--title span {
                        font-weight: fontWeight(bold);
                    }

                    a {
                        -webkit-transition: color 0.25s ease 0s;
                        transition: color 0.25s ease 0s;
                        color: getColor(text);

                        &:hover {
                            color: getColor(primary);
                        }
                    }
                }
            }
        }
    }
}

// Pager
ul.pager__items,
ul.js-pager__items {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: spacing(xlarge) 0;

    li {
        list-style: none;
        border-radius: 0;
        color: getColor(text);
        margin: 0 6px;
        -webkit-transition: all 350ms;
        transition: all 350ms;

        &.is-active a {
            background-color: getColor(text);
            border-color: getColor(text);
            color: #FFFFFF;
        }

        &:first-child {
            border-radius: $fb__forms-radius 0 0 $fb__forms-radius;
            margin-left: 0;
        }

        &:last-child {
            border-radius: 0 $fb__forms-radius $fb__forms-radius 0;
        }

        &.first.last {
            border-radius: $fb__forms-radius;
        }

        &.pager-current {
            background: getColor(link, hover);
            border-color: getColor(link, hover);
            line-height: 2;
            padding: 0.5em 1em !important;

            &:hover {
                background: getColor(link, hover);
                color: #FFFFFF;
                cursor: default;
            }
        }

        &.pager__item--ellipsis {
            border: 1px solid #D5D5D6;
            background-color: #FFFFFF;
            color: getColor(text);
            display: block;
            line-height: 2;
            padding: 6px 12px;
        }

        a {
            border: 1px solid #D5D5D6;
            background-color: #FFFFFF;
            color: getColor(text);
            display: block;
            line-height: 2;
            padding: 6px 12px;

            &:hover {
                background-color: getColor(text);
                border-color: getColor(text);
                color: #FFFFFF;
            }
        }
    }
}

/**/
/* Mobile Menu*/
/* */
/* Set up styles for the mobile*/
/**/

$button-size: 25px;
$transition: 0.3s; /* increase this to see the transformations in slow-motion*/

@mixin line {
    -webkit-transition: all $transition ease 0s;
    transition: all $transition ease 0s;
    background: getColor(primary);
    display: inline-block;
    height: 4px;
    top: 0;
    vertical-align: middle;
}

.mobileNav {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    text-indent: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all $transition ease 0s;
    transition: all $transition ease 0s;

    &.active {
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }

    &--close .mobileNav__lines {
        /*hide the middle line*/
        background: transparent;

        /*overlay the lines by setting both their top values to 0*/
        &:before,
        &:after {
            @include transform-origin(50%);

            top: 0;
            width: $button-size;
        }

        /* rotate the lines to form the x shape*/
        &:before {
            @include transform(rotate3d(0, 0, 1, 45deg));
        }

        &:after {
            @include transform(rotate3d(0, 0, 1, -45deg));
        }
    }

    &__trigger {
        color: getColor(primary);
        display: inline-block;

        // font-family: $fb--base-fontFamily;
        vertical-align: middle;
        margin-right: em(10px);
        text-decoration: none;

        /* rotate the lines to form the x shape*/
        @media all and (min-width: $bp--medium + 1) {
            display: none;
        }

        @media all and (max-width: $bp--medium) {
            display: -webkit-inline-box;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            margin-left: 20px;
            justify-self: flex-end;
        }
    }

    &__lines {
        /*create middle line*/
        @include line;

        position: relative;
        width: $button-size;

        /*create the upper and lower lines as pseudo-elements of the middle line*/
        &:before, &:after {
            @include line;
            @include transform-origin(($button-size / 14) center);

            content: '';
            position: absolute;
            left: 0;
        }

        &:before {
            top: 8px;
            width: $button-size;
        }

        &:after {
            top: -8px;
            width: $button-size;
        }
    }

    &__label {
        @media all and (max-width: $bp--medium) {
            font-size: em(18px);
            font-family: $header-font;
            line-height: 1.2;
            color: getColor(text);
            display: inline-block;
            vertical-align: middle;
            margin-left: 6px;
        }
    }
}
