.paragraph--type--two-columns {
    &.container {
        padding: 0 spacing(xlarge);
        @media (max-width: $bp--medium) {
            display: -ms-grid;
            display: grid;
            grid-column-gap: spacing(xlarge);
        }
        @media (min-width: $bp--medium + 1) {
            display: -ms-grid;
            display: grid;
            grid-column-gap: spacing(xlarge);
        }
    }
    @media (max-width: $bp--medium) {
        display: -ms-grid;
        display: grid;
    }
    @media (min-width: $bp--medium + 1) {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        .paragraph--item:first-of-type {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1 / span 1;
        }
        .paragraph--item:last-of-type {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2 / span 1;
        }
    }
    .paragraph--type--block {
        height: 100%;
    }
}