{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
<div class="manage_homes">

    <div class="homes--container">

        <div class="homes--title"> 
            <h3>Homes</h3>
        </div>

       <div class="homes--form">
           {{ exposed }}    
        </div>

        <div class="homes--inner">

            <div class="homes--table users">
                <div class="homes--table--row row--heading">        
                    <div class="homes--table--cell cell-home">Home</div>
                    <div class="homes--table--cell cell-edit-home">Actions</div>
                </div>     
                      
                {% for row in rows %}

                    {{ row.content }}
                
                {% endfor %}
             
            </div>
        </div>
    </div>
</div>
</div>