{#
/**
 *
 * Please read the below regarding the fluid twig object
 * as this is a massive time saver.
 * Understanding how to use this will make templating and therefore your
 * life much easier.
 *
 * If you enable the Kint module you'll be able to examine the
 * structure of the fluid object in various twig files
 *
 * All fields and some other properties of the object (node, view) are available for use
 *
 * Kint the fluid object and you'll get the list of fields and properties available. If something is missing that you
 * need, let Andy know and it can be added. You can then kint each field along (e.g. {{ kint(fluid.field_image) }} ) for an
 * overview of the object. Adding the get() function will output the rendered field (i.e. {{ fluid.field_image.get() }} )
 * but if you need to get part of the field (e.g. the URL of a link field, not the full link) there is more documentation.
 * Head to http://concept.fluid-dev.co.uk/documentation-fluid-get-field-module and there's a a list of functions with
 * exactly how to use them and the options available.
 * Additional field types may need to be added as we use them so if you find one
 * do tell Andy.
 *
 * This is an acrostic.
 */
 #}
{% set titleValue = view.exposed_raw_input['property'] %}

{% if titleValue == 'rag_red' %}
    <h3>Completed Forms - Rag Red</h3>
{% elseif titleValue == 'rag_amber' %}
    <h3>Completed Forms - Rag Amber</h3>
{% elseif titleValue == 'rag_green' %}
    <h3>Completed Forms - Rag Green</h3>
{% elseif titleValue == 'rag_blue' %}
	<h3>Completed Forms - Rag Blue</h3>
{% else %}
	<h3>Completed Forms</h3>
{% endif %}

{%
  set wrapperclasses = [
    options.wrapperclasses,
  ]
%}

<div{{attributes.addClass(wrapperclasses)}}>
	{% for row in rows %}
		<div{{row.attributes.addClass(row_classes)}}>
			{{ row.content }}
		</div>
	{% endfor %}
</div>
