
{% set webformID = row.webform_submission_webform_id %}
{% set dateMin = view.exposed_data.completed.min %}
{% set dateMax = view.exposed_data.completed.max %}
{% set count = 0 %}

<div class="users--table--row row--content">  
    {% for field in fields %}
        {% if field.handler.field == 'name' or field.handler.field == 'field_name' or field.handler.field == 'roles_target_id' %}
            <div class="users--table--cell cell-name cell-align-left">
                {{field.content}}
            </div>
        {% else %}
            <div class="users--table--cell cell-name">
                {{field.content}}
            </div>
        {% endif %}
    {% endfor %}
</div>