{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
<div class="manage_users">

    <div class="users--container">

        <div class="users--title"> 
            <h3>Users</h3>
        </div>

       <div class="users--form">
           {{ exposed }}    
        </div>

        <div class="users--inner">

            <div class="users--table users">
                <div class="users--table--row row--heading">        
                    <div class="users--table--cell cell-username">Username</div>
                    <div class="users--table--cell cell-name">Name</div>
                    <div class="users--table--cell cell-role">Role(s)</div>
                    <div class="users--table--cell cell-home">Home</div>
                    <div class="users--table--cell cell-last-accessed">Last Used</div>
                    <div class="users--table--cell cell-edit-user">Edit User</div>
                    <div class="users--table--cell cell-change-pass">Password</div>
                </div>     
                {% for row in rows %}

                    {{ row.content }}
                
                {% endfor %}
             
            </div>
        </div>
    </div>
</div>
</div>