{#
/**
 * @file
 * Theme override for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 */
#}
{% set webformID = row.webform_submission_webform_id %}
{% set dateMin = view.exposed_data.completed.min|replace({ '/': '-' }) %}
{% set dateMax = view.exposed_data.completed.max|replace({ '/': '-' }) %}
    <div class="submission--table--cell cell-completed">
    <a href="/audit-reporting-review?webform_id={{webformID}}&completed%5Bmin%5D={{dateMin}}T00:00:00&completed%5Bmax%5D={{dateMax}}T23:59:59&answer=0&property=confirmation"> 
            {{ form_count }}
    </a>
    </div>
    <div class="submission--table--cell cell-outstanding">
        <a href="/outstanding-forms?homes={{ homesNotOutstanding }}"> 
            {{ total_forms }}
        </a>
    </div>
    <div class="submission--table--cell cell-rating-red">
        {% if rag_red is not empty %}
            <a href="/audit-reporting-review?webform_id={{webformID}}&completed%5Bmin%5D={{dateMin}}T00:00:00&completed%5Bmax%5D={{dateMax}}T23:59:59&answer=0&property=rag_red"> 
                {{ rag_red }}
            </a>
        {% else %}
            NA
        {% endif %}
    </div>
    <div class="submission--table--cell cell-rating-amber">
        {% if rag_red is not empty %}
            <a href="/audit-reporting-review?webform_id={{webformID}}&completed%5Bmin%5D={{dateMin}}T00:00:00&completed%5Bmax%5D={{dateMax}}T23:59:59&answer=0&property=rag_amber"> 
                {{ rag_amber }}
            </a>
        {% else %}
            NA
        {% endif %}
    </div>
    <div class="submission--table--cell cell-rating-green">
        {% if rag_red is not empty %}
            <a href="/audit-reporting-review?webform_id={{webformID}}&completed%5Bmin%5D={{dateMin}}T00:00:00&completed%5Bmax%5D={{dateMax}}T23:59:59&answer=0&property=rag_green"> 
                {{ rag_green }}
            </a>
        {% else %}
            NA
        {% endif %}
    </div>
    <div class="submission--table--cell cell-rating-blue">
        {% if rag_red is not empty %}
            <a href="/audit-reporting-review?webform_id={{webformID}}&completed%5Bmin%5D={{dateMin}}T00:00:00&completed%5Bmax%5D={{dateMax}}T23:59:59&answer=0&property=rag_blue"> 
                {{ rag_blue }}
            </a>
        {% else %}
            NA
        {% endif %}
    </div>