{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
<div class="dashboard weekly">

    <div class="submission--container">

        <div class="submission--title"> 
            Daily Form Submissions
        </div>

       <div class="submission--form">
           {{ exposed }}    
        </div>

        <div class="submission--inner">

            <div class="submission--table rag-ratings">
                <div class="submission--table--row row--heading">        
                    <div class="submission--table--cell cell-name">Forms</div>
                    <div class="submission--table--cell cell-completed">Completed</div>
                    <div class="submission--table--cell cell-outstanding">Outstanding</div>
                    <div class="submission--table--cell cell-rating-red">Red</div>
                    <div class="submission--table--cell cell-rating-amber">Amber</div>
                    <div class="submission--table--cell cell-rating-green">Green</div>
                    <div class="submission--table--cell cell-rating-blue">Blue</div>
                </div>     
                      
                {% for row in rows %}
                
                    {{ row }}
                
                {% endfor %}
             
            </div>
        </div>
    </div>
</div>
</div>