<div class="homes--table--row row--content">  
    {% for field in fields %}
        {% if field.handler.field == 'name' or field.handler.field == 'field_name' or field.handler.field == 'roles_target_id' %}
            <div class="homes--table--cell cell-name cell-align-left">
                {{field.content}}
            </div>
        {% else %}
            <div class="homes--table--cell cell-name">
                {{field.content}}
            </div>
        {% endif %}
    {% endfor %}
</div>