
{% set webformID = row.webform_submission_webform_id %}
{% set dateMin = view.exposed_data.completed.min %}
{% set dateMax = view.exposed_data.completed.max %}
<div class="submission--table--row row--content">        
    <div class="submission--table--cell cell-name">
        <a href="/audit-reporting-review?webform_id={{webformID}}&completed%5Bmin%5D={{dateMin}}&completed%5Bmax%5D={{dateMax}}&answer=0&property=confirmation"> 
            {{fields.webform_id.content}}
        </a>
    </div>
    {{fields.nothing.content}}

</div>