{% set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
] %}

{{ attach_library('classy/node') }}



<section class="node__content">
	<div class="page_loader"></div>
	<div class="eqa_body">

		<div class="container">

			<div class="eqa_leaderboard">
				<div class="eqa_leaderboard--text">
					<h1>Welcome back,<br/>{{userName}}</h1>
					<h2>{{homeName}}</h2>
				</div>
				<div class="eqa_leaderboard--image">
					<img src="{{ homeImage }}"  class="hex-image"/>
				</div>
			</div>

			<div class="checks__section">
				{% if homeSetCheck  == false %}
					Please contact customer service to have a home assigned to you
				{% endif %}
				{% if needs_attention is not null %}
				<div class="daily_checks--header attention">Attention Required</div>
					{% for form in needs_attention %}
						<div class="daily_checks--form_to_check">
							<span class="form_name">{{form.title}}</span>
							<span class="button_container">
								<span class="bell_notification"></span>
								{% if form.draft %}
									<a href={{form.draftUrl}} class="btn--primary eqa__continue_button">Continue</a>
								{% else %}
									<a href={{form.url}} class="btn--primary eqa__complete_button">Complete</a>
								{% endif %}
							</span>
						</div>
					{% endfor %}
				{% endif %}

				<div class="daily_checks--header">Daily Checks</div>

				{% for form in daily %}
        			<div class="daily_checks--form_to_check">
						<span class="form_name">{{form.title}}</span>
						<span class="button_container">
							{% if showViewFormsButton %}
								<a href="/audit-submissions/{{form.id}}"  class="btn--secondary eqa__view_button">View Submitted</a>
							{% endif %}
							{% if form.id == 'take20' and take20_avaliable %}

								{% if form.draft %}
									<a href={{form.draftUrl}} class="btn--primary eqa__continue_button form_avaliable">Continue</a>
								{% else %}
									<a href={{form.url}} class="btn--primary eqa__complete_button form_avaliable">Complete</a>
								{% endif %}

							{% elseif form.id == 'take20' and take20_avaliable == false %}

								<a href={{form.url}} class="btn--primary eqa__complete_button take20_not_avaliable">Complete</a>

							{% elseif (form.id == 'daily_home_manager_walk_round' and home_walkaround_avaliable) or (form.id == 'daily_clinical_walk_round' and clinical_walkaround_avaliable) %}

								{% if form.draft %}
									<a href={{form.draftUrl}} class="btn--primary eqa__continue_button form_avaliable">Continue</a>
								{% else %}
									<a href={{form.url}} class="btn--primary eqa__complete_button form_avaliable">Complete</a>
								{% endif %}

							{% elseif (form.id == 'daily_home_manager_walk_round' and home_walkaround_avaliable == false) or (form.id == 'daily_clinical_walk_round' and clinical_walkaround_avaliable == false) %}
								
								<a href={{form.url}} class="btn--primary eqa__complete_button form_not_avaliable">Complete</a>
							
							{% else %}

								<a href={{form.url}} class="btn--primary eqa__complete_button">Complete</a>
								
							{% endif %}
						</span>
					</div>
    			{% endfor %}

				<div class="daily_checks--header">Weekly Checks</div>

				{% for form in weekly %}
        			<div class="daily_checks--form_to_check">
						<span class="form_name">{{form.title}}</span>
						<span class="button_container">
							{% if showViewFormsButton %}
								<a href="/audit-submissions/{{form.id}}" class="btn--secondary eqa__view_button">View Submitted</a>
							{% endif %}
							{% if form.draft %}
								<a href={{form.draftUrl}} class="btn--primary eqa__continue_button">Continue</a>
							{% else %}
								<a href={{form.url}} class="btn--primary eqa__complete_button">Complete</a>
							{% endif %}
						</span>
					</div>
    			{% endfor %}

				<div class="daily_checks--header">Current Period Checks</div>

				{% for form in current_period %}
        			<div class="daily_checks--form_to_check">
						<span class="form_name">{{form.title}}</span>
						<span class="button_container">
							{% if showViewFormsButton %}
								<a href="/audit-submissions/{{form.id}}"  class="btn--secondary eqa__view_button">View Submitted</a>
							{% endif %}
							{% if form.draft %}
								<a href={{form.draftUrl}} class="btn--primary eqa__continue_button">Continue</a>
							{% else %}
								<a href={{form.url}} class="btn--primary eqa__complete_button">Complete</a>
							{% endif %}
						</span>
					</div>
    			{% endfor %}

				<div class="daily_checks--header">Every 3rd Period Checks</div>

				{% for form in every_3rd_period %}
        			<div class="daily_checks--form_to_check">
						<span class="form_name">{{form.title}}</span>
						<span class="button_container">
							{% if showViewFormsButton %}
								<a href="/audit-submissions/{{form.id}}" class="btn--secondary eqa__view_button">View Submitted</a>
							{% endif %}
							{% if form.draft %}
								<a href={{form.draftUrl}} class="btn--primary eqa__continue_button">Continue</a>
							{% else %}
								<a href={{form.url}} class="btn--primary eqa__complete_button">Complete</a>
							{% endif %}
						</span>
					</div>
    			{% endfor %}

				<div class="daily_checks--header">Annual Checks</div>
				{% for form in annual %}
        			<div class="daily_checks--form_to_check">
						<span class="form_name">{{form.title}}</span>
						<span class="button_container">
							{% if showViewFormsButton %}
								<a href="/audit-submissions/{{form.id}}" class="btn--secondary eqa__view_button">View Submitted</a>
							{% endif %}
							{% if form.draft %}
								<a href={{form.draftUrl}} class="btn--primary eqa__continue_button">Continue</a>
							{% else %}
								<a href={{form.url}} class="btn--primary eqa__complete_button">Complete</a>
							{% endif %}
						</span>
					</div>
    			{% endfor %}

			</div>




		</div>

		

	</div>

</section>

<div class="dashboard__line"></div>