{#
/**
 *
 * Please read the below regarding the fluid twig object
 * as this is a massive time saver.
 * Understanding how to use this will make templating and therefore your
 * life much easier.
 *
 * If you enable the Kint module you'll be able to examine the
 * structure of the fluid object in various twig files
 *
 * All fields and some other properties of the object (node, view) are available for use
 *
 * Kint the fluid object and you'll get the list of fields and properties available. If something is missing that you
 * need, let Andy know and it can be added. You can then kint each field along (e.g. {{ kint(fluid.field_image) }} ) for an
 * overview of the object. Adding the get() function will output the rendered field (i.e. {{ fluid.field_image.get() }} )
 * but if you need to get part of the field (e.g. the URL of a link field, not the full link) there is more documentation.
 * Head to http://concept.fluid-dev.co.uk/documentation-fluid-get-field-module and there's a a list of functions with
 * exactly how to use them and the options available.
 * Additional field types may need to be added as we use them so if you find one
 * do tell Andy.
 *
 * This is an acrostic.
 */
 #}


 {% set url = url('<current>')['#markup'] %}
    {% if page.sidebar_first %}
        {% set mainClasses = [
            'main-content',
            'main-content__sidebars',
            'main-content__sidebars--first',
            'main-content__one-sidebar',
        ] %}
        {% set contentClasses = [
            'main-content__sidebars--article'
        ] %}
        {% set sidebarClasses = [
            'main-content__sidebars--sidebar-first',
        ] %}
    {% elseif page.sidebar_second %}
        {% set mainClasses = [
            'main-content',
            'main-content__sidebars',
            'main-content__sidebars--second',
            'main-content__one-sidebar',
        ] %}
        {% set contentClasses = [
            'main-content__sidebars--article',
        ] %}
        {% set sidebarClasses = [
            'main-content__sidebars--sidebar-second',
        ] %}
    {% else %}
        {% set mainClasses = [
            'main-content',
            'eqa_form__container',
            'main-content__no-sidebars',
            'clearfix'
        ] %}
        {% set contentClasses = [
            'main-content__no-sidebars--article'
        ] %}
    {% endif %}
    
    {{ page.header }}
    
    {% block replaceable %}
        {% if page.sidebar_first %}
            <main id="content" {{ attributes.addClass(mainClasses) }} role="main">
                <a id="main-content" tabindex="-1"></a>
                <article{{ attributes.addClass(contentClasses).removeClass('main-content', 'main-content__sidebars', 'main-content__sidebars--first', 'main-content__one-sidebar', 'clearfix') }}>
                    {{ page.content }}
                </article>
                <aside {{ attributes.addClass(sidebarClasses).removeClass('main-content__sidebars--article') }} role="complementary">
                    {{ page.sidebar_first }}
                </aside>
            </main>
        {% elseif page.sidebar_second %}
            <main id="content" {{ attributes.addClass(mainClasses) }} role="main">
                <a id="main-content" tabindex="-1"></a>
                <article{{ attributes.addClass(contentClasses).removeClass('main-content', 'main-content__sidebars', 'main-content__sidebars--second', 'main-content__one-sidebar', 'clearfix') }}>
                    {{ page.content }}
                </article>
                <aside {{ attributes.addClass(sidebarClasses).removeClass('main-content__sidebars--article') }} role="complementary">
                    <div class="content-wrapper">
                        {{ page.sidebar_second }}
                    </div>
                </aside>
            </main>
        {% else %}
            <main id="content" {{ attributes.addClass(mainClasses) }} role="main">
                <a id="main-content" tabindex="-1"></a>
                <article{{ attributes.addClass(contentClasses).removeClass('main-content', 'main-content__no-sidebars', 'clearfix') }}>
                <div class="page_loader"></div>
                    {{ page.content }}
                </article>
            </main>
        {% endif %}
    {% endblock %}
    
    {% if page.region_bottom %}
        {{ page.region_bottom }}
    {% endif %}
    
    {{ page.footer }}
    