{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_container.value
  ]
%}

{% set values = paragraph.field_pull_right_item.getValue() %}

<div{{ attributes.addClass(classes) }}>
    <div class="paragraph--item">
        {% if paragraph.field_pull_right_item.0.entity.getParagraphType().id == 'card' %}
            <div class="card">
                {{ drupal_entity('paragraph', values.0.target_id) }}
            </div>
        {% else %}
            {{ drupal_entity('paragraph', values.0.target_id) }}
        {% endif %}
    </div>
    <div class="paragraph--item">
        {% if paragraph.field_pull_right_item.1.entity.getParagraphType().id == 'card' %}
            <div class="card">
                {{ drupal_entity('paragraph', values.1.target_id) }}
            </div>
        {% else %}
            {{ drupal_entity('paragraph', values.1.target_id) }}
        {% endif %}
    </div>
    <div class="paragraph--item paragraph--item--pull">
        {% if paragraph.field_pull_right_item.2.entity.getParagraphType().id == 'card' %}
            <div class="card">
                {{ drupal_entity('paragraph', values.2.target_id) }}
            </div>
        {% else %}
            {{ drupal_entity('paragraph', values.2.target_id) }}
        {% endif %}
    </div>
</div>