.paragraph--type--custom-layout {
  > .paragraph {
      + .paragraph { margin-top: spacing(xlarge); }
      &:last-child { margin-bottom: spacing(xlarge); }
      .paragraph--item {
          /* IE10+ fallbacks for row gap */
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              margin-left: 9px;
              margin-right: 9px;
          }
      }
  }
  .paragraph--item {
      @media (min-width: $bp--medium + 1) { overflow: hidden; }
  }
}

.paragraph--type--one-column {
  @media (max-width: $bp--large) {
    &.container { padding: 0 25px; }
  }
}