/**/
/* Sidebar*/
/* */
/* Set up styles for the sidebar regions*/
/**/

aside {
    @media (min-width: $bp--medium + 1) {
        .mobileNav__trigger--sidebar { display: none; }
    }
    @media (max-width: $bp--medium) {
        .mobileNav__trigger--sidebar {
            font-size: em(18px);
            display: block;
            line-height: $fb--base-lineHeight;
            cursor: pointer;
            font-family: $feature-font;
            &:link,
            &:visited {
                color: getColor(grey);
            }
            &.is-active,
            &:hover { color: getColor(primary); }
        }
        ul.menu__sidebar {
            display: none;
            margin-top: 0.5em;
            &.active { display: block; }
            li {
                display: block;
                margin-right: 0;
                line-height: $fb--base-lineHeight;
            }
        }
    }
}