.paragraph--type--accordion {
    padding: 3em 0;
    .paragraph--type--accordion-item {
        border-bottom: 1px solid getColor(primary);
        font: $body-font;
        padding: 1.5em 0;
        position: relative;
        .ui-accordion-header {
            background-color: getColor(grey, lighter);
            border-color: inherit;
            color: getColor(primary);
            margin: 0;
            padding: 0.4em 0.7em;
            position: absolute;
            right: 0;
            top: 22px;
            &:after {
                font-size: em(fontSize(xxsmall));
                background-color: getColor(grey, lighter);
                border-radius: 4px;
                bottom: 0;
                color: getColor(primary);
                content: "Show";
                display: block;
                left: 0;
                padding: 6px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                -webkit-transition: all 350ms ease;
                transition: all 350ms ease;
            }
            &:hover:after {
                background-color: getColor(primary);
                color: #FFFFFF;
            }
            &.ui-state-active {
                position: absolute;
                right: 0;
                top: 22px;
                margin: 0;
                &:after { content: "Hide"; }
            }
        }
        .ui-accordion-content {
            background-color: transparent;
            border-radius: 0;
            border: 0;
            padding: 0;
            p:last-of-type { margin-bottom: 0; }
        }
    }
}