.paragraph--type--body {
    @media (max-width: $bp--small) {
        margin-top: spacing(xlarge);
        padding: 0 0 spacing(xlarge) 0;
    }
    @media (min-width: $bp--small + 1) {
        margin-top: spacing(xlarge);
        padding: 2em 0;
    }
    p:last-of-type { margin-bottom: 0; }
    blockquote > p:first-of-type {
        font-size: em(36px);
        font-weight: font-weight(bold);
        line-height: 1.2;
    }
}