// 
// Base form styling
//

form {
    *:focus {
        outline: 4px solid $fb__forms-focus-color;
    }

    span.fieldset-legend,
    .js-form-type-textarea label,
    label {
        line-height: $fb--base-lineHeight;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
        font-size: $fb__forms-input-font-size;
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;
        line-height: $fb--base-lineHeight;
        padding: $fb__forms-input-padding;
    }

    select {
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;

        &::-ms-expand {
            display: none;
        }
    }

    textarea {
        font-size: $fb__forms-input-font-size + 2;
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;
        line-height: $fb--base-lineHeight;
        padding: $fb__forms-input-padding;
    }

    input[type="submit"] {
        font-size: $fb__forms-input-font-size;

        @extend .btn--primary;
    }

    /* Default checkboxes override*/
    .js-webform-checkboxes,
    .js-webform-radios {
        .form-item {
            .description {
                margin-left: -$fb__forms-checkbox;
            }
        }

        .js-form-type-checkbox,
        .js-form-type-radio {
            margin: 0 0 $fb__forms-checkbox;
            min-height: $fb__forms-checkbox;
            padding: 0 0 0 $fb__forms-checkbox;

            input {
                height: $fb__forms-checkbox;
                width: $fb__forms-checkbox;
            }

            label {
                padding: calc(#{$fb__forms-checkbox}/12) 10px;

                &:before {
                    border: $fb--forms-border-width solid $fb__forms-bounding-box;
                    height: $fb__forms-checkbox;
                    width: $fb__forms-checkbox;
                }
            }

            input:focus + label:before {
                box-shadow: 0 0 0 4px $fb__forms-focus-color;
            }
        }

        .js-form-type-checkbox {
            label {
                &:after {
                    height: calc(#{$fb__forms-checkbox}/4.4);
                    width: calc(#{$fb__forms-checkbox}/2);
                }
            }
        }
    }
}
