{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}
{% if element['#flexbox'] %}
    <div class="webform-flexbox">

      {% if element.audit_section %}
          <div class="element_item">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.audit_section }}</div></div>
          </div>
      {% endif %}
      
      <div class="web_row">
        {% if element.area_for_action %}
            <div class="element_item_half">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.area_for_action }}</div></div>
            </div>
        {% endif %}

        {% if element.action_required %}
            <div class="element_item_half">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.action_required }}</div></div>
            </div>
        {% endif %}

        {% if element.person_responsible %}
          <div class="element_item_half">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.person_responsible }}</div></div>
          </div>
        {% endif %}

        {% if element.timescale %}
            <div class="element_item_half">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.timescale }}</div></div>
            </div>
        {% endif %}

        {% if element.review_sig %}
            <div class="element_item_half">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.review_sig }}</div></div>
            </div>
        {% endif %}

        {% if element.review_date %}
            <div class="element_item_half">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.review_date }}</div></div>
            </div>
        {% endif %}

      </div>
    </div>
{% else %}
  {{ element }}
{% endif %}

