{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{% if element['#flexbox'] %}

      {% if element.comments %}
          <div class="webform-flexbox">
      {% endif %}

            {% if element.comments %}
              <div class="webform-flex eqa__form-item--comments">
                <div class="webform-flex--container">{{ element.comments }}</div>
              </div>
            {% endif %}

      {% if element.comments %}
        </div>
      {% endif %}


{% else %} 
  {{ element }}

{% endif %}

