{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{# 
{{ kint(element) }} #}

{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{% if element['#flexbox'] %}
  <div class="webform-flexbox">
    <div class="grey_boxed_area">
    
      {% if element.section %}
          <div class="webform-flexbox point_1">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.section }}</div></div>
          </div>
      {% endif %}

      {% if element.source['#value'] is not empty  %}
          <div class="webform-flexbox point_2">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.source }}</div></div>
          </div>
      {% endif %}

      {% if ( element.escalate_to or element.escaltion_date) %}
          <div class="webform-flexbox point_3">
              {% if element.escalate_to %}
                  <div class="webform-flex element__left">
                    <div class="webform-flex--container">{{ element.escalate_to }}</div>
                  </div>
              {% endif %}
              {% if element.escaltion_date %}
                  <div class="webform-flex element__right">
                    <div class="webform-flex--container">{{ element.escaltion_date }}</div>
                  </div>
              {% endif %}
          </div>
      {% endif %}
    </div>
  </div>
{% else %} 
  {{ element }}

{% endif %}

