{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}
{% if element['#flexbox'] %}


      {% if element.section %}
          <div class="webform-flexbox point_1">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.section }}</div></div>
          </div>
      {% endif %}

      <div class="webform-flex eqa__recursive--initials">
        {% if element.service_user %}
          <div class="webform-flex initial--container dols--item left">
            <div class="webform-flex--container">{{ element.service_user }}</div>
          </div>
        {% endif %}
        {% if element.service_user %}
          <div class="webform-flex initial--container dols--item right">
            <div class="webform-flex--container">{{ element.dols_select }}</div>
          </div>
        {% endif %}
      </div>

  
  
{% else %}
  {{ element }}
{% endif %}

