{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}

{% if element['#flexbox'] %}

	<div class="webform-flexbox">

		<div class="web_row">
			{% if element.service_user %}
				<div class="element_item_half">
					<div class="webform-flex webform-flex--1">
						<div class="webform-flex--container">{{ element.service_user }}</div>
					</div>
				</div>
			{% endif %}
			{% if element.fall_date %}
				<div class="element_item_half">
					<div class="webform-flex webform-flex--1">
						<div class="webform-flex--container">{{ element.fall_date }}</div>
					</div>
				</div>
			{% endif %}
		</div>

		<div class="web_row">
			{% if element.location_of_fall %}
				<div class="element_item_half">
					<div class="webform-flex webform-flex--1">
						<div class="webform-flex--container">{{ element.location_of_fall }}</div>
					</div>
				</div>
			{% endif %}
			{% if element.resulted_in %}
				<div class="element_item_half">
					<div class="webform-flex webform-flex--1"> 
						<div class="webform-flex--container">{{ element.resulted_in }}</div>
					</div>
				</div>
			{% endif %}
		</div>

	</div>

{% else %}

	{{ element }}

{% endif %}