{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}
{% if element['#flexbox'] %}
    <div class="webform-flexbox">

      {% if element.service_user %}
          <div class="element_item">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.service_user }}</div></div>
          </div>
      {% endif %}
      
      <div class="web_row">
        {% if element.free_text %}
            <div class="element_item_full">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.free_text }}</div></div>
            </div>
        {% endif %}

      </div>
    </div>
{% else %}
  {{ element }}
{% endif %}

