{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}
{% if element['#flexbox'] %}
    <div class="webform-flexbox">

      {% if element.service_user %}
          <div class="element_item">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.service_user }}</div></div>
          </div>
      {% endif %}
      
      <div class="web_row">
        {% if element.alert_been_submitted %}
            <div class="element_item_half">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.alert_been_submitted }}</div></div>
            </div>
        {% endif %}

        {% if element.cqc_notified %}
            <div class="element_item_half">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.cqc_notified }}</div></div>
            </div>
        {% endif %}
{{ element.cqc_notified.title }}
      </div>
    </div>
{% else %}
  {{ element }}
{% endif %}

