{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}
{% if element['#flexbox'] %}
	<div class="webform-flexbox">

		<div class="web_row">
			{% if element.service_user %}
				<div class="element_item_half">
					<div class="webform-flex webform-flex--1">
						<div class="webform-flex--container">{{ element.service_user }}</div>
					</div>
				</div>
			{% endif %}

			{% if element.where %}
				<div class="element_item_half">
					<div class="webform-flex webform-flex--1">
						<div class="webform-flex--container">{{ element.where }}</div>
					</div>
				</div>
			{% endif %}

		</div>
		{% if element.reason %}
			<div class="element_item">
				<div class="webform-flex webform-flex--1">
					<div class="webform-flex--container">{{ element.reason }}</div>
				</div>
			</div>
		{% endif %}
	</div>
{% else %}
	{{ element }}
{% endif %}

