{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{% if element['#flexbox']  %}
    <div class="webform-flexbox">

      <div class="confirmation_area">
          <div class="webform-flexbox">
              {% if element.house_name %}
                <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.house_name }}</div></div>
              {% endif %}
              {% if element.user_name %}
                <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.user_name }}</div></div>
              {% endif %}
          </div>
          <div class="webform-flexbox">
              {% if element.date %}
                <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.date }}</div></div>
              {% endif %}
              {% if element.role %}
                <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.role }}</div></div>
              {% endif %}
          </div>
          <div class="webform-flexbox">
              {% if element.confirmation %}
                <div class="webform-flexbox">
                    <div class="eqa__checkbox--confirmation js-webform-checkboxes">{{ element.confirmation }}</div>
                </div>
              {% endif %} 
          </div>
      </div>

    </div>
{% else %}
  {{ element }}
{% endif %}

