{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{% if flexbox %}
    <div class="webform-flexbox">
      {% if content.section %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.section }}</div></div>
      {% endif %}
      {% if content.source %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.source }}</div></div>
      {% endif %}
      {% if content.overallPassFail %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.overallPassFail }}</div></div>
      {% endif %}
      {% if content.comments %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.comments }}</div></div>
      {% endif %}
    </div>
{% else %}
  {{ content }}
{% endif %}

