{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}

{% if element['#flexbox'] %}

    <div class="webform-flexbox">

        {% if element.section %}

        <div class="webform-flex eqa__form-item--section">
            <div class="webform-flex--container">{{ element.section }}</div>           
        </div>

        {% endif %}

        <div class="webform-flexbox eqa__form-item--results">
            {% if element.maximum %}
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.maximum }}</div></div>
            {% endif %}
            {% if element.possible %}
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.possible }}</div></div>
            {% endif %}
            {% if element.actual %}
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.actual }}</div></div>
            {% endif %}
            {% if element.percentage %}
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.percentage }}</div></div>
            {% endif %}
        </div>

    </div>

{% else %}
  {{ element }}
{% endif %}