{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}}   #}
{% if element['#flexbox'] %}
    <div class="webform-flexbox point_1">
      {% if element.audit_section %}
        <div class="element__full">
          <div class="webform-flex"><div class="webform-flex--container">{{ element.audit_section }}</div></div>
        </div>
      {% endif %}
    </div>
    <div class="webform-flexbox">

      {% if element.initial_score %}
        <div class="element__third">
          <div class="webform-flex"><div class="webform-flex--container">{{ element.initial_score }}</div></div>
        </div>
      {% endif %}

      {% if element.review_score %}
        <div class="element__third">
          <div class="webform-flex"><div class="webform-flex--container">{{ element.review_score }}</div></div>
        </div>
      {% endif %}

      {% if element.action_required %}
        <div class="element__third">
          <div class="webform-flex"><div class="webform-flex--container">{{ element.action_required }}</div></div>
        </div>
      {% endif %}
      
    </div>
{% else %}
  {{ element }}
{% endif %}
