{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see template_preprocess_conditional_pass_fail()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}

<div class="field1"></div>

{% if element['#flexbox'] %}

    {% if element.section %}
        <div class="webform-flexbox point_1">
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.section }}</div></div>
        </div>
    {% endif %}

    {% if element.source['#value'] is not empty  %}
        <div class="webform-flexbox point_2">
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.source }}</div></div>
        </div>
    {% endif %}

    <div class="webform-flex eqa__recursive_control">

        {% if element.service_user_communal_area %}
            <div class="webform-flex initial--container">
                <div class="webform-flex--container">{{ element.service_user_communal_area }}</div>
            </div>
        {% endif %}

        {% if element.bathroom_shower_toilet %}
            <div class="webform-flex initial--container">
                <div class="webform-flex--container">{{ element.bathroom_shower_toilet }}</div>
            </div>
        {% endif %}

        {% if element.service_user_bed_room %}
            <div class="webform-flex initial--container">
                <div class="webform-flex--container">{{ element.service_user_bed_room}}</div>
            </div>
        {% endif %}

        {% if element.treatment_medication_room %}
            <div class="webform-flex initial--container">
                <div class="webform-flex--container">{{ element.treatment_medication_room }}</div>
            </div>
        {% endif %}

        {% if element.sluice_room %}
            <div class="webform-flex initial--container">
                <div class="webform-flex--container">{{ element.sluice_room }}</div>
            </div>
        {% endif %}

        {% if element.laundry %}
            <div class="webform-flex initial--container">
                <div class="webform-flex--container">{{ element.laundry }}</div>
            </div>
        {% endif %}
        {# {% if element.notApplicable %}
            <div class="webform-flexbox checkbox__na_container">
                <div class="eqa__checkbox--na js-webform-checkboxes checkbox__row">
                    {{ element.notApplicable }}
                </div>
            </div>
        {% endif %} #}


        {% if element.notApplicable or element.overallPassFail %}
        <div class="webform-flex eqa__form-item--checks">
          <div class="webform-flex--container">

            {% if element.notApplicable %}
                <div class="webform-flexbox">
                  <div class="eqa__checkbox--na js-webform-checkboxes">{{ element.notApplicable }}</div>
                </div>
              {% endif %}

              {% if element.overallPassFail %}  
              <div class="webform-flexbox">
                  <div class="eqa__radios--pass_fail">{{ element.overallPassFail }}</div>
                </div>
              {% endif %}

          </div>
        </div>
      {% endif %}


      






    </div>

{% else %} 

    {{ element }}

{% endif %}