{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}
{% if element['#flexbox'] %}
    <div class="webform-flexbox">
      {% if element.rag_blue %}
        <div class="webform-flex webform-flex--1 rag_rating blue"><div class="webform-flex--container">{{ element.rag_blue }}</div></div>
      {% endif %}
      {% if element.rag_green %}
        <div class="webform-flex webform-flex--1 rag_rating green"><div class="webform-flex--container">{{ element.rag_green }}</div></div>
      {% endif %}
      {% if element.rag_amber %}
        <div class="webform-flex webform-flex--1 rag_rating amber"><div class="webform-flex--container">{{ element.rag_amber }}</div></div>
      {% endif %}
      {% if element.rag_red %}
        <div class="webform-flex webform-flex--1 rag_rating red"><div class="webform-flex--container">{{ element.rag_red }}</div></div>
      {% endif %}
    </div>
{% else %}
  {{ element }}
{% endif %}

