{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{# {{kint(element)}} #}

{% if element['#flexbox'] %}
    
  {% if element.audit_section %}
    <div class="webform-flexbox point_1">
      <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.audit_section }}</div></div>
    </div>
  {% endif %}


  <div class="webform-flexbox">

      {% if element.last_inspection %}
        <div class="element__left">
        <div class="webform-flex"><div class="webform-flex--container">{{ element.oustanding_action }}</div></div>
        </div>
      {% endif %}

      {% if element.oustanding_action %}
      <div class="element__right">
      
        <div class="webform-flex"><div class="webform-flex--container">{{ element.last_inspection }}</div></div>
        </div>
      {% endif %}

      {% if element.progress_made %}
      <div class="element__full">
        <div class="webform-flex"><div class="webform-flex--container">{{ element.progress_made }}</div></div>
        </div>
      {% endif %}

      {% if element.assigned_too %}
      <div class="element__third">
        <div class="webform-flex"><div class="webform-flex--container">{{ element.assigned_too }}</div></div>
        </div>
      {% endif %}
      
      {% if element.target_date %}
      <div class="element__third">
        <div class="webform-flex"><div class="webform-flex--container">{{ element.target_date }}</div></div>
        </div>
      {% endif %}
      
      {% if element.oustanding_action %}
      <div class="element__third">
        <div class="webform-flex"><div class="webform-flex--container">{{ element.added_to_ihap }}</div></div>
      </div>
      {% endif %}

  </div>

{% else %} 

  {{ element }}

{% endif %}
