{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}

{% if element['#flexbox'] %}


    {% if element['#description'] %}
    <div class="webform-flexbox point_1">
      <div class="webform-flex webform-flex--1">
        <div class="webform-flex--container">
          {{ element['#description'] }}</div>
        </div>
    </div>
    {% endif %}

    <div class="webform-flexbox point_2" style="margin-top:1em;">
        <div class="webform-flexbox service_users">
          {% for i in 1..10 %}
            <div class="webform-flex service_users--initials">
              <div class="webform-flex--container">{{ element['service_user_' ~ i ~ '_initials'] }}</div>
            </div>
          {% endfor %}      
        </div>
    </div>

{% else %}
  {{ element }}
{% endif %}

