{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see template_preprocess_conditional_pass_fail()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}


<div class="field1"></div>


{% set serviceUsersCount = 1 %}

{% if element['#flexbox'] %}
    
      {% if element.section %}
          <div class="webform-flexbox point_1">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.section }}</div></div>
          </div>
      {% endif %}

      {% if element.source['#value'] is not empty  %}
          <div class="webform-flexbox point_2">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.source }}</div></div>
          </div>
      {% endif %}

      <div class="webform-flex eqa__recursive--initials">
            {% for serviceUsers in element['#webform_composite_elements'] if 'initials' in serviceUsers['#webform_composite_key'] %}
                <div class="webform-flex initial--container">
                    <div class="webform-flex--container">{{ element['sample_' ~ serviceUsersCount ~ '_initials'] }}</div>
                    <div class="webform-flex--container">{{ element['sample_' ~ serviceUsersCount ~ '_pass_fail'] }}</div>
                </div>
                {% set serviceUsersCount = serviceUsersCount + 1 %}
            {% endfor %}

      </div>


      {% if element.comments and ( element.notApplicable or element.overallPassFail) %}
          <div class="webform-flexbox">
      {% endif %}

            {% if element.comments %}
              <div class="webform-flex eqa__form-item--comments">
                <div class="webform-flex--container">{{ element.comments }}</div>
              </div>
            {% endif %}

            {% if element.notApplicable or element.overallPassFail %}
              <div class="webform-flex eqa__form-item--checks">
                <div class="webform-flex--container">

                  {% if element.notApplicable %}
                      <div class="webform-flexbox">
                        <div class="eqa__checkbox--na js-webform-checkboxes">{{ element.notApplicable }}</div>
                      </div>
                    {% endif %}

                    {% if element.overallPassFail %}  
                    <div class="webform-flexbox">
                        <div class="eqa__radios--pass_fail">{{ element.overallPassFail }}</div>
                      </div>
                    {% endif %}

                </div>
              </div>
            {% endif %}

          

      {% if element.comments and ( element.notApplicable or element.overallPassFail) %}
        </div>
      {% endif %}


{% else %} 
  {{ element }}

{% endif %}
