{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{# {{ kint(element.source) }} #}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{% if element['#flexbox'] %}
    
      {% if element.section %}
          <div class="webform-flexbox point_1">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.section }}</div></div>
          </div>
      {% endif %}

      {% if element.source['#value'] is not empty  %}
          <div class="webform-flexbox point_2">
            <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.source }}</div></div>
          </div>
      {% endif %}


      {% if element.what_is_working_well and ( element.what_could_work_better or element.overallPassFail) %}
          <div class="webform-flexbox">
      {% endif %}

            {% if element.what_is_working_well %}
              <div class="webform-flex eqa__form-item--what_is_working_well">
                <div class="webform-flex--container">{{ element.what_is_working_well }}</div>
              </div>
            {% endif %}

            {% if element.what_could_work_better %}
              <div class="webform-flex eqa__form-item--what_could_work_better">
                <div class="webform-flex--container">{{ element.what_could_work_better }}</div>
              </div>
            {% endif %}

            {# {% if element.overallPassFail %}
              <div class="webform-flex eqa__form-item--checks">
                <div class="webform-flex--container">
                  <div class="eqa__radios--pass_fail">{{ element.overallPassFail }}</div>
                </div>
              </div>
            {% endif %} #}

            {% if element.notApplicable or element.overallPassFail %}
              <div class="webform-flex eqa__form-item--checks">
                <div class="webform-flex--container">

                    {% if element.notApplicable %}
                      <div class="webform-flexbox">
                        <div class="eqa__checkbox--na js-webform-checkboxes">{{ element.notApplicable }}</div>
                      </div>
                    {% endif %}

                    {% if element.overallPassFail %}  
                    <div class="webform-flexbox">
                        <div class="eqa__radios--pass_fail">{{ element.overallPassFail }}</div>
                      </div>
                    {% endif %}
                </div>
              </div>
          {% endif %}

      {% if element.what_is_working_well and ( element.what_could_work_better or element.overallPassFail) %}
        </div>
      {% endif %}


{% else %} 
  {{ element }}

{% endif %}

