{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see _template_preprocess_webform_composite()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('fluid_exemplar_webform/standdard_pass_fail') }}
{% if element['#flexbox'] %}

    <div class="simpleconfirmation_area">

        {% if element.section %}
            <div class="webform-flexbox point_1">
              <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ element.section }}</div></div>
            </div>
        {% endif %}

        {% if element.simple_confirm %}
            <div class="webform-flexbox">
        {% endif %}

          {% if element.simple_confirm %}
              <div class="eqa__checkbox--confirmation js-webform-checkboxes">{{ element.simple_confirm }}</div>             
          {% endif %}

        {% if element.simple_confirm %}
          </div>
        {% endif %}

    </div>

{% else %} 

  {{ element }}

{% endif %}