// 
// Base form styling
//

form {
    *:focus {
        outline: 4px solid $fb__forms-focus-color;
    }

    span.fieldset-legend,
    .js-form-type-textarea label,
    label {
        line-height: $fb--base-lineHeight;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="number"],
    input[type="password"],
    input[type="tel"] {
        font-size: $fb__forms-input-font-size;
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;
        line-height: $fb--base-lineHeight;
        padding: $fb__forms-input-padding;
    }

    select {
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;

        &::-ms-expand {
            display: none;
        }
    }

    textarea {
        font-size: $fb__forms-input-font-size + 2;
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;
        line-height: $fb--base-lineHeight;
        padding: $fb__forms-input-padding;
    }

    input[type="submit"] {
        font-size: $fb__forms-input-font-size;

        @extend .btn--primary;
    }

    /* Default checkboxes override*/
    .js-webform-checkboxes,
    .js-webform-radios {

        .form-item {
            margin: 0;

            .description {
                margin-left: -$fb__forms-checkbox;
            }
        }

        .js-form-type-checkbox,
        .js-form-type-radio {
            clear: left;
            margin: 0 0 $fb__forms-checkbox;
            min-height: $fb__forms-checkbox;
            padding: 0 0 0 $fb__forms-checkbox;
            position: relative;

            input {
                cursor: pointer;
                height: $fb__forms-checkbox;
                left: 0;
                margin: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: $fb__forms-checkbox;
                z-index: 1;
            }

            label {
                display: inline-block;
                margin-bottom: 0;
                padding: calc(#{$fb__forms-checkbox}/12) 10px;
                cursor: pointer;

                &:before {
                    background: inherit;
                    border: $fb--forms-border-width solid $fb__forms-bounding-box;
                    content: "";
                    height: $fb__forms-checkbox;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: $fb__forms-checkbox;
                }
            }

            input:checked + label:after {
                opacity: 1;
            }

            input:focus + label:before {
                background-color: aliceblue;
                outline-offset: 0px;
                outline: 0;
                -webkit-box-shadow: 0 0 0 4px $fb__forms-focus-color;
                        box-shadow: 0 0 0 4px $fb__forms-focus-color;
            }
        }

        .js-form-type-checkbox {
            padding:0;
            //min-width: 145px;
            text-align: left;
            height:70px;
            margin-left:20px !important;

            label {
                &:before{
                    top:30px !important;
                    left:11px !important;
                }
                &:after {
                    background: inherit;
                    border: solid;
                    border-width: 0 0 3px 3px;
                    border-top-color: inherit;
                    border-left-color: getColor(primary);
                    border-bottom-color: getColor(primary);
                    content: "";
                    height: calc(#{$fb__forms-checkbox}/4.4);
                    left: 18px;
                    opacity: 0;
                    position: absolute;
                    top: 38px;
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    width: calc(#{$fb__forms-checkbox}/2);
                }
            }
        }

        .js-form-type-radio {
            padding:0;
            min-width: 45px;
            text-align: center;
            height:65px;
            
            label {

                &:before {
                    border-radius: 50%;
                    height:26px;
                    width:26px;
                    top:30px;
                    left:50%;
                    -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                            transform: translateX(-50%);
                }

                &:after {
                    position: absolute;
                    top: 33px;  
                    width: 20px;
                    height: 20px;
                    left: 50%;
                    opacity: 0;
                    content: "";
                    background: inherit;
                    border-radius: 50%;
                    border: 0 solid teal;
                    background-color: getColor(primary);
                    -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                            transform: translateX(-50%);

                }
            }
        }

        &.checkbox__row{
            .js-form-type-checkbox {
                padding:0;
                text-align: left;
                height:30px;
                label {
                    padding-left:3em;
                    &:before{
                        top: 0px !important;
                        left: 0px !important;
                    }
                    &:after {
                        left: 8px;
                        top: 10px;
                    }
                }
            }
        }

    }
}
