.paragraph--type--image {
    @media (min-width: ($bp--small + 1)) { padding: spacing(xlarge) 0; }
    @media (max-width: $bp--small) { margin: 0 -spacing(xlarge); }
    > div {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}