// This file relates to the leaderboard paragraph item
// Create additional custom functions in assets/js/flickity-settings.js
// Enable additional config options via THEME/libraries.yml including:
// Background-image output
// As navigation for another carousel

.leaderboard {
    position: relative;

    @media (min-width: ($bp--small + 1)) {
        height: 100%;
    }

    &--item {
        position: relative;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

        &.item-center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        }

        &.item-left {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;

            .content-wrapper {
                left: 0;
            }
        }

        &.item-right {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;

            .content-wrapper {
                right: 0;
            }
        }

        .content-wrapper {
            background-color: getColor(white);
            padding: 1.5em;
            position: absolute;
            margin: 0 2em;
            width: 100%;
            max-width: 24em;

            span {
                display: block;
            }
        }
    }

    &--static-content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
}

.video-wrapper {
    position: relative;
    padding-top: 25px;
    overflow: hidden;
    padding-bottom: 56.25%;

    object, embed, iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
