/**/
/* Modals*/
/* */

// #video-container {
//   cursor: pointer;
//   display: none;
//   height: 100%;
//   left: 0;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 50000;
//   @media (max-width: 640px) {
//     background-color: #000000;
//   }
//   @media (min-width: 641px) {
//     background-color: #000000;
//     background-color: rgba(0, 0, 0, 0.7);
//     iframe {
//       border: 2px solid;
//       max-width: 100%;
//       width: 640px;
//     }
//   }
//   .inner-container {
//     display: flexbox;
//     -webkit-box-pack: center;
//         -ms-flex-pack: center;
//             justify-content: center;
//     -webkit-box-align: center;
//         -ms-flex-align: center;
//             align-items: center;
//     height: 100%;
//     position: relative;
//     width: 100%;
//     .close-btn {
//       color: #FFFFFF;
//       cursor: pointer;
//       font-size: 0;
//       margin: 0;
//       position: absolute;
//       right: 40px;
//       top: 40px;
//     }
//   }
// }





// Side Swiping Modal setup
.header__links{
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: revert;
          flex-direction: revert;
  -ms-flex-pack: distribute;
      -webkit-box-pack: justify;
          justify-content: space-between;

          @media (max-width: $bp--small){
          width: 100%;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          }
}

#show-modal{
  background-color: getColor(primary);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:40px;
  height:40px;
  border-radius:100%;
  color:white;
  font-size:16px;
  font-weight:600;
  cursor: pointer;
}


a#home{
  background-color: getColor(secondary);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:40px;height:40px; border-radius:100%; color:white; font-size:16px; font-weight:600;
  cursor: pointer;
}

.modal.overview-modal {
  position: absolute;
  top: 0;
  background-color: #f6f6f6;
  padding: 5em 1em ;
  // left: calc(-100vw);
  left:0;
  width: 100vw;
  height:100vh;
  -webkit-transform: translateX(-100vw);
      -ms-transform: translateX(-100vw);
          transform: translateX(-100vw);
  overflow:hidden;

  @media (mac-width: ($bp--medium - 1)){
      padding:3em 2em;
  }

    .inner-container{
        max-width:768px;
        margin:0 auto;
        position: relative;



        .content-wrapper{
            max-height: 90vh;
            overflow-y: scroll;
            padding: 0 0 50px;
            position:relative;
            padding-right:1em;

        }
    }

    h3{
        color:getColor(primary);
        font-size:30px;
    }

    .close-btn {
        z-index: 100;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #008080;
        width: 40px;
        height: 40px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 100%;
        right: -3.5em;
        top:-2em;
        cursor: pointer;

        @media(max-width:$bp--medium){
            right:1em;
            top:-1em;
        }
    }
}


body{
  position: relative;
  right:0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);

    &.moveRight{
        // right: calc(-100vw);
        -webkit-transform: translateX(100vw);
            -ms-transform: translateX(100vw);
                transform: translateX(100vw);
        -webkit-transition:  1s linear;
        transition:  1s linear;
    }

}

.bottom_buttons {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .eqa--prev-page {
        visibility:hidden;
    }

}