// 
// The baseline styletile properties for the project
// Custom this file dependant on your brand implementation
//

// Tokens to call in class names for styletile styling
$display: #{calc(fontSize(display) / 1px)};
$xxlarge: #{calc(fontSize(xxlarge) / 1px)};
$xlarge: #{calc(fontSize(xlarge) / 1px)};
$large: #{calc(fontSize(large) / 1px)};
$medium: #{calc(fontSize(medium) / 1px)};
$small: #{calc(fontSize(small) / 1px)};
$xsmall: #{calc(fontSize(xsmall) / 1px)};
$xxsmall: #{calc(fontSize(xxsmall) / 1px)};

html {
    color: getColor(text);
    font-family: $body-font;
    font-size: $fb--base-fontSize;
}

// Generate heading class conventions
// Size convention generated from abstracts/variables/font
// Output = <h1 class="heading-75"></h1>
.heading {
    @include heading-modifiers($prefix: "-");
}

// 
// Headings
//
h1 {
    @extend .heading-#{$display};
}

h2 {
    @extend .heading-#{$xxlarge};
}

h3 {
    @extend .heading-#{$xlarge};
}

h4 {
    @extend .heading-#{$large};
}

h5 {
    @extend .heading-#{$medium};
}

h6 {
    @extend .heading-#{$small};
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: initial;

    a:link,
    a:visited {
        color: getColor(text);
        -webkit-transition: color 150ms;
        transition: color 150ms;
    }

    a:hover {
        color: getColor(primary);
    }
}

h1,
.heading-#{$display} {
    line-height: fontSize(display) * 1.25;
    margin: fontSize(display) 0;
}

h2,
.heading-#{$xxlarge} {
    line-height: fontSize(xxlarge) * 1.25;
    margin: fontSize(xxlarge) 0;
}

h3,
.heading-#{$large} {
    line-height: fontSize(xlarge) * 1.15;
    margin: (fontSize(large) * 1.15) 0;
}

h4,
.heading-#{$small} {
    line-height: fontSize(medium) * 1.15;
    margin: (fontSize(small) * 1.15) 0;
}

h5, h6 {
    line-height: fontSize(large) * 1.15;
    margin: (fontSize(xsmall) * 1.15) 0;
}

// 
// Body text
//
p,
pre {
    color: getColor(text);
    font-family: $body-font;
    font-weight: initial;
    font-size: em($fb--base-fontSize);
    line-height: $fb--base-lineHeight;
    margin: 24px 0;

    &.large-text {
        font-size: fontSize(xxsmall);
    }

    &.small-text {
        font-size: fontSize(small);
    }
}

blockquote {
    font-size: fontSize(small);
    border-left: 2px solid getColor(primary);
    padding-left: spacing(large);
}

b,
strong {
    font-size: inherit;
    font-family: inherit;
}

// 
// Links
//
a:link {
    color: getColor(link);
    text-decoration: none;
}

a:visited {
    color: getColor(link, visited);
    text-decoration: none;
}

a:hover,
a:focus {
    color: getColor(link, hover);
    text-decoration: none;
}

a:active {
    color: getColor(link, active);
    text-decoration: none;
}

// 
// Placeholder colors
//
::selection {
    color: #FFFFFF;
    background: getColor(primary);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
    font-weight: font-weight(bold);
}

::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    font-weight: font-weight(bold);
}

:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    font-weight: font-weight(bold);
}

:-moz-placeholder { /* Firefox 18- */
    color: #000000;
    font-weight: font-weight(bold);
}
