
// 
// Call custom fonts
//
@font-face {
    font-family: 'FSMeWeb-Regular';
    src:  url('../assets/fonts/FSMeWeb-Regular.woff2') format('woff2'),
          url('../assets/fonts/FSMeWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: 'FSMeWeb-Bold';
    src:  url('../assets/fonts/FSMeWeb-Bold.woff2') format('woff2'),
          url('../assets/fonts/FSMeWeb-Bold.woff') format('woff');
}

/* 1. Set font families*/

$primary-font:   'FSMeWeb-Regular',Helvetica, Arial, sans-serif,serif;
$secondary-font: 'FSMeWeb-Bold', Helvetica, Arial, sans-serif, serif;


// 
// Include custom fonts
//
$header-font: $primary-font;
// $body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: $primary-font;
$feature-font: $secondary-font;
$courier: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
