// 
// This file contains all of the setup variables to be used sitewide
// No CSS should be generated from this file
//

// Optional includes
// Create new files for new maps
@import "variables/breakpoints";
@import "variables/color";
@import "variables/font";
@import "variables/spacing";

// Default variables
$fb--base-lineHeight: 1.5 !default;
$fb--base-fontSize: 16px !default;
$fb--base-fontFamily: sans-serif !default;

// Forms
$fb__forms-border-width: 1px !default;
$fb__forms-bounding-box: getColor(secondary) !default;
$fb__forms-checkbox: 30px !default;
$fb__forms-focus-color: tint(#84c0fe, 30%) !default;
$fb__forms-radius: 6px !default;
$fb__forms-input-font-size: 16px !default;
$fb__forms-input-padding: 12px !default;

/* Navigation*/
$mainNav-link: getColor(text);
$mainNav-hover: getColor(primary);
$mainNav-active: getColor(primary);
$mainNav-fontsize: 18px;

$sidebarNav-link: getColor(text);
$sidebarNav-visited: $sidebarNav-link;
$sidebarNav-active: getColor(primary);
$sidebarNav-hover: $sidebarNav-active;
$sidebarNav-fontsize: $fb--base-fontSize;

// Others
$border-radius: 10px;
