@font-face { font-family: 'FSMeWeb-Regular'; src:  url('../assets/fonts/FSMeWeb-Regular.woff2') format('woff2'), url('../assets/fonts/FSMeWeb-Regular.woff') format('woff'); };
@font-face { font-family: 'FSMeWeb-Bold'; src:  url('../assets/fonts/FSMeWeb-Bold.woff2') format('woff2'), url('../assets/fonts/FSMeWeb-Bold.woff') format('woff');}; $primary-font:   'FSMeWeb-Regular',Helvetica, Arial, sans-serif,serif;
$secondary-font: 'FSMeWeb-Bold', Helvetica, Arial, sans-serif, serif; $feature-font: 'FSMeWeb-Bold', Helvetica, Arial, sans-serif, serif; 
$primaryColour: #008080;
$secondaryColour: #727271;
$linkColour: $primaryColour;
$textColour: #393942; 
$greyColour: #e6e6e6;
$darkgreyColour: #727271;
$lightgreyColour: #F1F1F1;
$lightergreyColour: #F7F7F7;
$whiteColor: #FFFFFF; 
$blackColour: #000000;

#eqa--webform {
    width:100%;
    max-width: 1140px;
    margin: 0 auto;
    color: #727271 !important;    
    font-size:14px;
    position:relative;
    .eqa--title{
        font-size: 1.75em;
        font-family:$secondary-font;
    }

    .eqa--subtitle {
        font-family:$secondary-font;
        font-size: 1.25em;
    }

    // fieldset.form-item {
    //     border:1px solid blue;
    // }

    fieldset{
        &[class^="js-webform-type-fieldset"]{
            border:0;
            padding:0;
            margin-top:1em;
            position:relative;

            > legend{
                font-family:$secondary-font;
                margin: -2em 0 -1em -12px;
                position:relative;
                background-color: #008080;
                color: white !important;
                display: block;
                width: 100%;
                padding: 10px 0 10px 10px;
                font-size: 1.1em;
            }
        }

        .fieldset-wrapper{
            position:relative;
            
                // & > fieldset{
                //     &:nth-child(3n + 1){
                //         page-break-before: always;
                //     }
                // }
 

            fieldset {
                margin:1em 0;
                display: block;
            }

            .fieldgroup {
                position:relative;

                .form-item{
                    & > label{
                       font-family:$secondary-font;
                       font-size:1em;
                       font-weight:bold;
                       width:100% !important;
                       display: block !important;
                       margin: 1em 0 .5em !important;
                   }
               }
            }
            .fieldgroup.radios--wrapper, .eqa__checkbox--na {
                .form-item{
                    position:relative;
                    & > label{
                       font-family:$secondary-font;
                       font-size:1em;
                       font-weight:normal;
                       width: auto !important;
                       display: inline-block !important;
                       margin:0 !important;
                   }
               }
            }
        }

        // .webform-flexbox,
        // .webform-flex,
        .webform-flex--container{
            position:relative;
            display: block !important;
            width: 100% !important;
            white-space: normal;
            clear:both;
            .description{
                width:70% !important;
                display: inline-block !important;
                // min-height:100px;
                padding-bottom:30px;
                
            }
        }
        
        .eqa__radios--pass_fail{
            fieldset{
                border:0;
            }
        }
        
        .eqa__form-item--comments{
            position:relative;
            width:65% !important;
            display: inline-block !important;
            padding-right:2em;
            clear:both;

            textarea{
                position:relative;
                display: table;
                border: 0;
                font-size: 1em;
                font-weight: normal;
                font-family: 'FSMeWeb-Regular'; 
                width:90%;                      /* fixes margin issues in some funky browsers */
                white-space: pre-wrap;          /* css-3 */
                white-space: -moz-pre-wrap;     /* Mozilla, since 1999 */
                white-space: -pre-wrap;         /* Opera 4-6 */
                white-space: -o-pre-wrap;       /* Opera 7 */
                word-wrap: break-word;          /* Internet Explorer 5.5+ */
            }
        }

        .eqa__form-item--checks{
            position:relative;
            width:28% !important;
            display:inline-block !important;   
        }


       .js-form-type-webform-multiple{
           width :100%;

           table.responsive-enabled{
                width:100%;
           }
        } 

        .js-form-type-textarea {
            textarea {
                position:relative;
                top:0;
                display: table;
                border: 0;
                font-size: 1em;
                font-weight: normal;
                font-family: 'FSMeWeb-Regular'; 
                width:90%;                      /* fixes margin issues in some funky browsers */
                white-space: pre-wrap;          /* css-3 */
                white-space: -moz-pre-wrap;     /* Mozilla, since 1999 */
                white-space: -pre-wrap;         /* Opera 4-6 */
                white-space: -o-pre-wrap;       /* Opera 7 */
                word-wrap: break-word;          /* Internet Explorer 5.5+ */
            }
        }

    }

    .visually-hidden, .webform-actions,
    #views-exposed-form-audit-reporting-page-2,
    .section-audit-submissions,
    .webform-multiple-table--operations,
    .webform-multiple-table--weight,
    .webform-multiple-add,
    .webform-submission-navigation,
    .webform-progress,
    .webform-submission-information{
        display:none;
    }

}