{#
	/**
	* @file
	* Bartik's theme implementation to display a header region.
	*
	* Available variables:
	* - content: The content for this region, typically blocks.
	* - attributes: HTML attributes for the region div.
	* - region: The name of the region variable as defined in the theme's
	* .info.yml file.
	*
	* @see template_preprocess_region()
	*/
#}

<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
	<div class="eqa_head__container">

		{% if 'administrator' in user.getroles or 'regional_director_of_operations' in user.getroles or 'head_office' in user.getroles or 'quality_team' in user.getroles or 'home_manager' in user.getroles %}
			<div class="home__switcher container">
				{{ adminHomeSwitcher }}
				<div class="links">
					<a href="/dashboard" class="btn btn--primary dashboard_feedback">Dashboard</a>
					{% if 'administrator' in user.getroles or 'head_office' in user.getroles %}
						<a href="/manage-users" class="btn btn--primary dashboard_feedback">Users</a>
						<a href="/manage-homes" class="btn btn--primary dashboard_feedback">Homes</a>
					{% endif %}
				</div>
			</div>
			
		{% endif %}
		
		<div class="header__main-wrapper container">
			<div class="header__logos">
				<img src="/{{ directory }}/assets/images/logo_exemplar.svg" alt="" class="logo_exemplar" />
				<img src="/{{ directory }}/assets/images/logo_eqa.svg" alt="" class="logo_eqa" />
			</div>
			<div class="dashboard__links">
				<a href="/form/feedback" class="btn btn--primary dashboard_feedback">Send feedback</a>
				<a href="/user/{{ user.id }}/change-password" class="btn btn--primary dashboard_feedback">Change Password</a>
				<a href="/user/logout" class="btn btn--secondary dashboard_signout">Sign out</a>
			</div>
			<div class="header__links">
				<span id="show-modal"><img src="/{{ directory }}/assets/icons/svg/eqa_icon_info.svg" alt="" class="info_icon" /></span>
				<a href="/" id="home"><img src="/{{ directory }}/assets/icons/svg/eqa_icon_home.svg" alt="" class="home_icon" /></a> 					
			</div>
		</div>
	</div>
</header>
