
.submission--form, .users--form {
    .views-exposed-form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        background-color:white;
        border:0;

        label {
            float:left;
        }

        input[type="text"]{
            float:left;
            // pointer-events:none;
            font-size: 16px;
            border-radius: 0;
            border: 0px solid #727271;
            line-height: 1.5;
            padding: 0px;
        }

        input[type="submit"]{
            display:none;
        }

        [id^=edit-completed-wrapper] .fieldset-wrapper,
        .form-item-completed-min,
        .form-item-completed-max,
        .form-item-previous,
        .form-item-next {
            label{
                margin:0;
            }
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            margin: 0;
        }
        [id^=edit-completed-wrapper],
        .form-item-completed-min,
        .form-item-completed-max{
            width:220px;
            border: unset;
            padding: 0;
            margin: 0;
            label, .fieldset-legend{
                display:none;
            }
            &:before{
                position: relative;
                margin-right:.5em;
            }



        }
        .form-item-completed-min{
            &:before{content:"From:";}
        }

        .form-item-completed-max{
            &:before{content:"To:";}
        }
        .form-item-previous{
            margin-left:auto;
        }

        .form-item-next{
            margin-left:.75em;
            padding-left:.75em;
            border-left: 1px solid grey
        }

    }
}

.submission{
    &--container{
        border: 1px solid black;
        padding:2em 1.5em;
        margin-bottom:1em;

        @media (max-width: $bp--small) {
            overflow-x: scroll;
        }
    }

    &--title{
        font-size: 25px;
        margin-bottom:1.5em;
    }

    &--inner{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-gap: 10px;
        position: relative;
    }

    &--inner > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    &--inner > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    &--date{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 2 / 2;

        color: black;
    }
    &--pager{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1 / 2 / 2 / 3;
    }

    &--table{
        margin-top:1em;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: 2 / 1 / 3 / 3;


        &.rag-ratings{
            .submission--table--row{



                @media (min-width: ($bp--large + 1)){
                    -ms-grid-columns: minmax(300px, 500px) repeat(2, 1fr) repeat(4,75px);
                    grid-template-columns: minmax(300px, 500px) repeat(2, 1fr) repeat(4, 75px);
                }




                .submission--table--cell{
                    &:not(.cell-name){
                        text-align: center;
                    }
                }

                &.row--content{
                    .submission--table--cell{
                        &.cell-rating{

                            &-blue{
                                background-color: rgba(#1565c0, .25);
                            }
                            &-green{
                                background-color: rgba(#009641, .25);
                            }
                            &-red{
                                background-color: rgba(#e30613, .25);
                            }
                            &-amber {
                                background-color: rgba(#f7a600, .25);
                            }
                        }



                        @media screen and (max-width:$bp--small){
                            position:relative;
                            padding-top:40px;
                            border-right:1px solid rgba(0,0,0,0.3);

                            &:before{
                                content:"";
                                height:30px;
                                position:absolute;
                                top:0;
                                left:0;
                                background-color: #dadada;
                                font-weight:700;
                                width:100%;
                                padding:5px;
                                color: black;
                                border-top:1px solid rgba(0,0,0,0.3);
                                border-bottom:1px solid rgba(0,0,0,0.3);
                            }

                            &.cell-name{
                                text-align: center;
                                border-top:1px solid rgba(0,0,0,0.3);
                                &:before{
                                    content:"Form";
                                    border-top:0px solid rgba(0,0,0,0.3);
                                }
                            }

                            &.cell-completed{
                                &:before{
                                    content:"Completed";
                                }
                            }
                            &.cell-outstanding{
                                &:before{
                                    content:"Outstanding";
                                }
                            }
                            &.cell-rating{
                                &-red{
                                    &:before{
                                        content:"Red";
                                    }
                                }
                                &-amber{
                                    &:before{
                                        content:"Amber";
                                    }
                                }
                                &-green{
                                    &:before{
                                        content:"Green";
                                    }
                                }
                                &-blue{
                                    border-bottom:1px solid rgba(0,0,0,0.3);
                                    &:before{
                                        content:"Blue";

                                    }
                                }
                            }
                        }

                    }
                }

            }
        }


        &--row{
            @media (max-width: $bp--small){
                margin-bottom:20px;
            }
            //border-top: 1px solid black;
            @media (min-width: ($bp--large + 1)){
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: minmax(300px, 500px) repeat(2, 1fr) repeat(4,75px);
                grid-template-columns: minmax(300px, 500px) repeat(2, 1fr) repeat(4, 75px);
                -ms-grid-rows: auto;
                grid-template-rows: auto;
            }



            @media (min-width:$bp--small) and (max-width: $bp--large){
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                        flex: 1 0 100%;

                .submission--table--cell{
                    font-size: 13px;

                    &.cell-name{
                        -webkit-box-flex: 1;
                            -ms-flex: 1 0 38%;
                                flex: 1 0 38%;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: start;
                                    -ms-flex-pack: start;
                                        justify-content: flex-start;
                    }

                    &.cell-completed,
                    &.cell-outstanding{
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 13%;
                                flex: 0 0 13%;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                        justify-content: center;
                    }
                    &.cell-rating{
                        &-red,
                        &-amber,
                        &-green,
                        &-blue{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 8%;
                flex: 0 0 8%;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                        }
                    }
                }
            }


            &:nth-child(odd){
                background-color: rgba(0,0,0,0.1);
            }

            &:first-child{
                border-top:1px solid rgba(0,0,0,0.3);

            }
            &:last-child{
                border-bottom:1px solid rgba(0,0,0,0.3);
            }

            &.row--heading{
               @media (max-width: $bp--small){
                   display:none;
               }
                background-color: rgba(0,0,0,0.15);

                .submission--table--cell{
                    font-weight:700;
                    color: black;
                }

            }



        }


        &--row > *:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1



        }


        &--row > *:nth-child(2){
            -ms-grid-row: 1;
            -ms-grid-column: 2



        }


        &--row > *:nth-child(3){
            -ms-grid-row: 1;
            -ms-grid-column: 3



        }

        &--cell {
            border-left:1px solid rgba(0,0,0,0.3);
            padding: 10px 5px;
            @media (max-width:$bp--large){
                padding: 10px 3px;
            }


            &:last-child{
                border-right:1px solid rgba(0,0,0,0.3);
            }
        }

        &--row > *:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1
        }

        &--row > *:nth-child(2){
            -ms-grid-row: 1;
            -ms-grid-column: 2
        }

        &--row > *:nth-child(3){
            -ms-grid-row: 1;
            -ms-grid-column: 3
        }


        &--results{
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-area: 3 / 1 / 4 / 3;

            .row--content{
                border:0;
            }
            .submission--table--row {
                background-color:transparent;
            }

            .submission--table--cell{
                border:0;
                font-weight: 700;
                &.cell-name{
                    color: black;
                }
            }
        }




    }

    &--pager{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                a[class*="next"]{

                        border-left: 1px solid black;
                        padding-left: .5em;
                        margin-left: .5em;


                }
    }




}

.users{
    &--container{
        //margin-bottom:1em;

        @media (max-width: $bp--small) {
            overflow-x: scroll;
        }
    }

    &--title{
        display: block;
        background-color: #008080;
        padding: 10px;
        color: #FFFFFF !important;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        margin-bottom: 5px;
        margin-top: 2em;
    }

    &--inner{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-gap: 10px;
        position: relative;
    }

    &--inner > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    &--inner > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    &--date{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 2 / 2;

        color: black;
    }
    &--pager{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1 / 2 / 2 / 3;
    }

    &--table{
        margin-top:0em;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: 2 / 1 / 3 / 3;


        &--row{
            @media (max-width: $bp--small){
                margin-bottom:20px;
            }

            @media (min-width: ($bp--large + 1)){
                display: -ms-grid;
                display: grid;

                grid-template-columns: repeat(3, 1.5fr) repeat(2, 1fr) repeat(2, 100px);
                -ms-grid-rows: auto;
                grid-template-rows: auto;
                font-size:14px !important;
                text-align: center;
            }



            @media (min-width:$bp--small) and (max-width: $bp--large){
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                        flex: 1 0 100%;

                .users--table--cell{
                    font-size: 13px;
                    word-break: break-word;

                    &.cell-name{
                        -webkit-box-flex: 1;
                            -ms-flex: 1 1 38%;
                                flex: 1 1 38%;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: start;
                                    -ms-flex-pack: start;
                                        justify-content: flex-start;




                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7){
                            a{
                                display: inline-block;
                                background-color: getColor(primary);
                                padding:.25em .5em;
                                color:white;
                                border-radius: 5px;
                                font-size:.9em;
                                margin:0 auto;
                            }
                        }


                    }


                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7){
                        flex: 1 1 calc(100% /7);
                        max-width: calc(100% / 7) !important;
                    }
                    &:nth-child(1),
                    &:nth-child(3){
                        max-width: calc(20%) !important;
                    }
                    &:nth-child(5),
                    &:nth-child(7){
                        max-width: calc(10%) !important;
                    }

                }
            }


            &:nth-child(odd){
                background-color: rgba(0,0,0,0.1);
            }

            &:first-child{
                border-top:1px solid rgba(0,0,0,0.3);

            }
            &:last-child{
                border-bottom:1px solid rgba(0,0,0,0.3);
            }

            &.row--heading{
               @media (max-width: $bp--small){
                   display:none;
               }
                background-color: rgba(0,0,0,0.15);

                .users--table--cell{
                    font-weight:700;
                    color: black;
                }

            }

            .cell-name{
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7){
                    a{
                        display: inline-block;
                        background-color: getColor(primary);
                        padding:.25em .5em;
                        color:white;
                        border-radius: 5px;
                        font-size:.9em;
                        margin:0 auto;
                    }
                }
            }

            .cell-align-left{
                text-align: left;
            }

        }


        &--row > *:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1



        }


        &--row > *:nth-child(2){
            -ms-grid-row: 1;
            -ms-grid-column: 2



        }


        &--row > *:nth-child(3){
            -ms-grid-row: 1;
            -ms-grid-column: 3



        }

        &--cell {
            border-left:1px solid rgba(0,0,0,0.3);
            padding: 10px 5px;
            @media (max-width:$bp--large){
                padding: 10px 3px;
            }


            &:last-child{
                border-right:1px solid rgba(0,0,0,0.3);
            }
        }

        &--row > *:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1
        }

        &--row > *:nth-child(2){
            -ms-grid-row: 1;
            -ms-grid-column: 2
        }

        &--row > *:nth-child(3){
            -ms-grid-row: 1;
            -ms-grid-column: 3
        }


        &--results{
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-area: 3 / 1 / 4 / 3;

            .row--content{
                border:0;
                text-align: center;
            }
            .users--table--row {
                background-color:transparent;
            }

            .users--table--cell{
                border:0;
                font-weight: 700;
                &.cell-name{
                    color: black;
                }
            }
        }




    }

    &--pager{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                a[class*="next"]{

                        border-left: 1px solid black;
                        padding-left: .5em;
                        margin-left: .5em;


                }
    }




}

.homes{

    &--container{
        //margin-bottom:1em;

        @media (max-width: $bp--small) {
            overflow-x: scroll;
        }
    }

    &--title{
        display: block;
        background-color: #008080;
        padding: 10px;
        color: #FFFFFF !important;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        margin-bottom: 5px;
        margin-top: 2em;
    }

    &--inner{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-gap: 10px;
        position: relative;
    }

    &--inner > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    &--inner > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    &--date{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1 / 1 / 2 / 2;

        color: black;
    }

    &--pager{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1 / 2 / 2 / 3;
    }

    &--table{
        margin-top:0em;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: 2 / 1 / 3 / 3;


        &--row{
            @media (max-width: $bp--small){
                margin-bottom:20px;
            }

            @media (min-width: ($bp--large + 1)){
                display: -ms-grid;
                display: grid;
                grid-template-columns: 4fr 1fr;
                -ms-grid-rows: auto;
                grid-template-rows: auto;
                font-size:14px !important;
                text-align: center;
            }



            @media (min-width:$bp--small) and (max-width: $bp--large){
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                        flex: 1 0 100%;

                .homes--table--cell{
                    font-size: 13px;
                    word-break: break-word;
                    &.cell-home{
                        text-align: left;
                    }
                    &.cell-name{
                        -webkit-box-flex: 1;
                            -ms-flex: 1 1 38%;
                                flex: 1 1 38%;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: start;
                                    -ms-flex-pack: start;
                                        justify-content: flex-start;




                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7){
                            a{
                                display: inline-block;
                                background-color: getColor(primary);
                                padding:.25em .5em;
                                color:white;
                                border-radius: 5px;
                                font-size:.9em;
                                margin:0 auto;
                            }
                        }


                    }

                    &:nth-child(1){
                        flex: 1 1 80%;
                        max-width: 80%!important;
                    }

                    &:nth-child(2){
                        max-width: 20% !important;
                    }

                }
            }


            &:nth-child(odd){
                background-color: rgba(0,0,0,0.1);
            }

            &:first-child{
                border-top:1px solid rgba(0,0,0,0.3);

            }
            &:last-child{
                border-bottom:1px solid rgba(0,0,0,0.3);
            }

            &.row--heading{
               @media (max-width: $bp--small){
                   display:none;
               }
                background-color: rgba(0,0,0,0.15);

                .users--table--cell{
                    font-weight:700;
                    color: black;
                }

            }

            .cell-name{
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7){
                    a{
                        display: inline-block;
                        background-color: getColor(primary);
                        padding:.25em .5em;
                        color:white;
                        border-radius: 5px;
                        font-size:.9em;
                        margin:0 auto;
                    }
                }
            }

            .cell-align-left{
                text-align: left;
            }

        }


        &--row > *:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1



        }


        &--row > *:nth-child(2){
            -ms-grid-row: 1;
            -ms-grid-column: 2



        }


        &--row > *:nth-child(3){
            -ms-grid-row: 1;
            -ms-grid-column: 3



        }

        &--cell {
            border-left:1px solid rgba(0,0,0,0.3);
            padding: 10px;
            @media (max-width:$bp--large){
                padding: 10px 3px;
            }


            &:last-child{
                border-right:1px solid rgba(0,0,0,0.3);
            }
        }

        &--row > *:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1
        }

        &--row > *:nth-child(2){
            -ms-grid-row: 1;
            -ms-grid-column: 2
        }

        &--row > *:nth-child(3){
            -ms-grid-row: 1;
            -ms-grid-column: 3
        }


        &--results{
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-area: 3 / 1 / 4 / 3;

            .row--content{
                border:0;
                text-align: center;
            }
            .users--table--row {
                background-color:transparent;
            }

            .users--table--cell{
                border:0;
                font-weight: 700;
                &.cell-name{
                    color: black;
                }
            }
        }




    }

    &--pager{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                a[class*="next"]{

                        border-left: 1px solid black;
                        padding-left: .5em;
                        margin-left: .5em;


                }
    }

}

.homes--table--row {
    &.row--heading {
        .cell-home {
            text-align: left;
        }
    }
}

label.option[for*="review-action-action-required"] {
	min-width: 150px;
}