#eqa--webform {
  .form-wrapper {
    .fieldset-wrapper {
      & > .js-webform-states-hidden {
        &.eqa--required {
          background-color: rgba(#d9534f, 0.125);
          -webkit-box-shadow: inset 0 0 0px 2px rgba(#d9534f, 0.25);
          box-shadow: inset 0 0 0px 2px rgba(#d9534f, 0.25);
          & > legend {
            padding-left: 10px;
          }
        }
      }
    }
    .js-form-type-number {
      margin-left: 90px;
      background-color: #f7f7f7;
      border: 10px solid white;
      width: calc(100% - 90px);
      padding: 2em;
    }
  }

  max-width: 1140px;
  margin: 0 auto;
  color: #727271 !important;

  .webform-flex--container,
  .webform-flexbox {
    margin: 0 0 0 0;
  }

  p {
    margin-top: 0.5em;
  }
  ul,
  li {
    margin-top: 1em;
    color: #727271 !important;
    font-size: inherit;
    font-family: inherit;
    line-height: 20px;
  }

  .eqa--header {
    .eqa--title,
    .eqa--subtitle {
      font-family: $primary-font;
      margin-top: 0;
      margin-bottom: 0.25em;
    }
    .eqa--title {
      font-size: 35px;
      line-height: 45px;
      color: getColor(primary);
    }
    .eqa--subtitle {
      font-size: 20px;
      line-height: 30px;
      color: getColor(secondary);
    }

    .alert {
      background-color: #dc3545;
      color: white;
      padding: 0.3em 0.5em;
    }
    p {
      color: #727271;
    }

    font-size: 14px;
    font-family: $primary-font;
  }

  .webform-progress {
    display: none;
  }

  .segment_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2em;

    .segment_indicator {
      background-color: getColor(grey);
      color: getColor(grey, dark);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(100% / 12 - 10px);
      height: 43px;
      border-radius: 5px;
      position: relative;
      cursor: pointer;

      @media (max-width: $bp--small) {
        width: calc(100% / 6 - 5px);
        margin-bottom: 8px;
      }

      &:after {
        content: attr(data-targetlink);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, calc(-50% + 3px));
        -ms-transform: translate(-50%, calc(-50% + 3px));
        transform: translate(-50%, calc(-50% + 3px));
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: getColor(grey, dark);
      }

      &:hover,
      &.active {
        background-color: getColor(primary);
        color: white;

        &:after {
          color: white;
        }
      }

      &.required {
        background-color: rgba(#d9534f, 0.25);
        &:after {
          color: white;
        }
        &:hover,
        &.active {
          background-color: #d9534f !important;
          color: white !important;

          &:after {
            color: white !important;
          }
        }
      }
    }
  }

  .form-wrapper {
    fieldset.webform-type-fieldset {
      padding: 0;
      border: 0;
      margin: 0;

      & > legend {
        background-color: #008080;

        padding: 10px;
        width: 100%;

        span {
          color: white !important;
          font-size: 20px;
        }
      }

      .fieldgroup:not(.radios--wrapper) {
        border-bottom: 2px solid #e6e6e6;
        padding: 1em 0 2em;
        margin: 0 0 2em;
        width: 100%;

        & > legend {
          width: 100%;
          max-width: 100px;
          float: left;
          margin-top: 1em;
          margin-bottom: 1em;
          padding-left: 10px;
          min-height: 300px;
          @media (max-width: $bp--medium) {
            padding-left: 10px;
          }

          @media (max-width: $bp--small) {
            margin-top: 0;
            max-width: 100%;
            min-height: unset;
          }

          &:before {
            content: "No.";
            display: block;
            font-size: 16px;
            font-weight: bold;
            color: getColor(secondary);
          }
        }

        &.webform-type-standard-pass-fail,
        &.webform-type-pass-fail-by,
        &.webform-type-service-review-pass-fail,
        &.conditional-pass-fail--wrapper,
        &.webform-type-service-users-percentage-pass-fail,
        &.webform-type-infection-control-pass-fail,
        &.webform-type-hs-strategy-inspections,
        &.webform-type-risk-assesment-totals {
          &.--disabled {
            .point_1,
            .point_2,
            .initial--container,
            .eqa__recursive--initials,
            .eqa__radios--pass_fail {
              opacity: 0.5;
              pointer-events: none !important;
              justify-content: unset;
              gap: 10px;
            }

            .js-form-type-textarea {
              position: relative;
            }

            &.--textarea__empty {
              .js-form-type-textarea {
                &:after {
                  content: "You must enter a comment by selecting N/A" !important;
                  display: block;
                  position: absolute;
                  background-color: #d9534f;
                  color: white;
                  top: 0;
                  right: 0;
                  padding: 5px 15px;
                  font-size: 13px;
                  @media (max-width: $bp--small) {
                    top: unset;
                    bottom: 0;
                    left: 0;
                  }
                }
              }
            }

            &.--textarea__has_content {
              .js-form-type-textarea {
                &:after {
                  display: none;
                }
              }
            }
          }

          &.--cb_yes {
            .js-form-type-textarea {
              position: relative;
            }
            &.--textarea__empty {
              .js-form-type-textarea {
                &:after {
                  content: "You must enter a comment by selecting No";
                  display: block;
                  position: absolute;
                  background-color: #d9534f;
                  color: white;
                  top: 0;
                  right: 0;
                  padding: 5px 15px;
                  font-size: 13px;
                  @media (max-width: $bp--small) {
                    top: unset;
                    bottom: 0;
                    left: 0;
                  }
                }
              }
            }
            &.--textarea__has_content {
              .js-form-type-textarea {
                &:after {
                  display: none;
                }
              }
            }
          }

          .point_1,
          .point_2 {
            margin: 1em 0 3em;
            @media (max-width: $bp--small) {
              margin: 1em 0 3em;
            }
          }

          .point_3 {
            margin: 2em 0 1em;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
          }

          .element {
            &__left,
            &__right {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;

              @media (min-width: ($bp--medium + 1)) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 40%;
                flex: 0 0 40%;
                margin-bottom: 1em;
              }
            }
            &__left {
              @media (min-width: ($bp--medium + 1)) {
                margin-right: 3em;
              }
            }
          }

          .js-form-item {
            margin: 0;
          }

          & > .fieldset-wrapper {
            width: calc(100% - 102px);
            float: right;
            @media (max-width: $bp--small) {
              width: 100%;
              float: unset;
            }
            & > .js-form-item {
              margin-top: 1em;
            }

            label {
              font-family: $secondary-font;
              font-size: 16px;
              font-weight: bold;
              color: getColor(secondary);
            }

            textarea,
            input[type="text"],
            input[type="email"],
            input[type="number"],
            input[type="date"] {
              border: 2px solid #949494;
              border-radius: 0;
              font-size: 14px;
              font-family: $primary-font;
            }

            input[type="date"] {
              @media (min-width: ($bp--medium + 1)) {
                width: 340px;
                max-width: 100%;
              }
            }

            .eqa__checkbox--na {
              margin-top: 26px !important;
              padding-left: 5px;
              width: 100%;

              @media (max-width: $bp--small) {
                margin-top: 0 !important;
                width: 30%;
                float: left;
              }
            }

            .eqa__radios--pass_fail {
              width: 100%;
              bottom: 0;
              padding-left: 5px;
              position: absolute;

              @media (max-width: $bp--small) {
                position: relative;
                width: 70%;
                float: left;
              }
            }

            .eqa {
              &__form-item {
                &--what_is_working_well {
                  max-width: 400px;
                  margin-right: 20px;
                  -webkit-box-flex: 1;
                  -ms-flex: 1 0 30%;
                  flex: 1 0 30%;
                  @media (max-width: $bp--small) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                    width: 100%;
                    margin-bottom: 10px;
                  }
                }
                &--what_could_work_better {
                  max-width: 400px;
                  -webkit-box-flex: 1;
                  -ms-flex: 1 0 30%;
                  flex: 1 0 30%;
                  @media (max-width: $bp--small) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                    width: 100%;
                    margin-bottom: 10px;
                  }
                }
                &--comments {
                  width: calc(100% - 145px);

                  -webkit-box-flex: 1;
                  -ms-flex: 1 0 75%;
                  flex: 1 0 75%;
                  padding-right: 10px;

                  @media (max-width: ($bp--medium - 1)) {
                    max-width: calc(505px);
                  }

                  @media (max-width: $bp--small) {
                    margin-top: 2em;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                    width: 100%;
                    margin-bottom: 10px;
                  }

                  &--full {
                    margin-top: 2em;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                    width: 100%;
                    margin-bottom: 10px;
                  }
                }

                &--section {
                  input[type="text"] {
                    padding: 0;
                    border: 0;
                    font-size: 14px;
                    font-family: $primary-font;
                  }
                }

                &--results {
                  margin: 0 0 0 0 !important;
                }

                &--checks {
                  -webkit-box-flex: 1;

                  -ms-flex: 1 0 15%;

                  flex: 1 0 15%;
                  position: relative;

                  .webform-flex--container {
                    -webkit-box-align: stretch;
                    -ms-flex-align: stretch;
                    align-items: stretch;
                  }

                  @media (max-width: $bp--small) {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
                    width: 100%;
                    margin-bottom: 10px;

                    .webform-options-display-two-columns {
                      display: block;
                      -webkit-column-count: 2;
                      -moz-column-count: 2;
                      column-count: 2;
                    }
                  }
                }
              }

              &__radios {
                &--pass_fail {
                  legend {
                    display: none;
                  }
                }
              }

              &__recursive--initials,
              &__recursive_control {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                // margin: 0 -10px;
                margin: 0 0px;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;

                .initial--container {
                  background-color: #f7f7f7;
                  // flex: 0 0 33%;
                  -webkit-box-flex: 0;
                  -ms-flex: 0 0 calc(33% - 10px);
                  flex: 0 0 calc(33% - 10px);
                  max-width: 260px;
                  padding: 20px;
                  margin-bottom: 20px;
                  // padding: 30px;
                  // -webkit-box-shadow: inset 0 0 0 10px white;
                  // box-shadow: inset 0 0 0 10px white;

                  &:last-child {
                    margin-right: auto;
                    margin-left: 20px;
                  }
                  @media (min-width: $bp--large) {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 calc(25% - 10px);
                    flex: 0 0 calc(25% - 10px);
                    &:last-child {
                      margin-right: auto;
                      margin-left: 0;
                    }
                  }
                  @media (max-width: $bp--small) {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    padding: 30px;
                    max-width: 100%;
                    -webkit-box-shadow: inset 0 0 0 5px white;
                    box-shadow: inset 0 0 0 5px white;
                    &:last-child {
                      margin-right: unset;
                      margin-left: unset;
                    }
                  }
                  label {
                    font-size: 13px;
                  }

                  select {
                    border-radius: 0;
                    border: 2px solid #949494;
                    background-color: #ffffff;
                    padding: 10px;
                    font-size: 14px;
                    position: relative;
                    @media (max-width: $bp--small) {
                      width: 100%;
                    }

                    &:after {
                      content: "";
                      height: 100%;
                      border-bottom: 10px solid getColor(grey);
                      border-left: 10px solid transparent;
                      border-right: 10px solid transparent;
                      top: 30%;
                    }
                  }

                  .js-webform-type-radios {
                    .js-webform-radios {
                      margin-top: 1em;
                      -webkit-column-gap: 10px;
                      -moz-column-gap: 10px;
                      column-gap: 10px;

                      @media (max-width: $bp--small) {
                        display: block;
                        -webkit-column-count: 2;
                        -moz-column-count: 2;
                        column-count: 2;
                      }
                      .js-form-type-radio {
                        padding: 0;
                        min-width: 30px;
                        // text-align: left;
                        height: 70px;
                        @media (max-width: $bp--small) {
                          text-align: center;
                        }
                      }
                    }

                    .fieldset-legends {
                      display: none;
                    }

                    .js-form-type-radio {
                      label {
                        padding: 0;
                        font-size: 15px;
                        &:before {
                          background-color: white;
                        }
                      }
                    }
                  }
                }

                .checkbox__na_container {
                  -webkit-box-flex: 0;
                  -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
                  padding-left: 0.5em;
                  @media (max-width: $bp--small) {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    padding: 30px;
                    max-width: 100%;
                  }
                }
              }
              &__recursive_control {
                .initial--container {
                  padding: 50px 20px 20px;

                  legend {
                    position: relative;
                    border-radius: 0;
                    border: 2px solid #949494;
                    background-color: #ffffff;
                    padding: 10px 5px;
                    font-size: 13px;
                    position: relative;
                    width: 100%;
                    display: block;
                    text-align: center;
                    &:before {
                      display: block;
                      position: absolute;
                      content: "Room";
                      font-size: 13px;
                      height: 25px;
                      font-family: $secondary-font;
                      top: -30px;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }

        &.webform-type-infection-control-pass-fail {
          &.--disabled {
            .webform-flex.eqa__form-item--checks {
              .eqa__radios--pass_fail {
                opacity: unset !important;
                pointer-events: initial !important;
              }
            }
          }

          .webform-flex.eqa__form-item--checks {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            margin-right: calc(20% - 10px);
            @media (max-width: $bp--small) {
              -ms-flex: 0 0 100% !important;
              -webkit-box-flex: 0 !important;
              flex: 0 0 100% !important;
              margin-right: unset;
            }
          }

          .eqa__radios--pass_fail {
            position: relative !important;
            .webform-options-display-two-columns {
              display: block;
              max-width: 210px;
              @media (max-width: $bp--medium) {
                margin-left: 5px;
              }

              @media (max-width: $bp--small) {
                margin-top: 0;
              }
            }
          }
        }

        &.webform-type-condition-service-user-dols {
          .eqa__recursive--initials {
            -ms-flex-pack: distribute;
            justify-content: space-around;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
          }

          legend {
            width: 100%;
            max-width: 100px;
            float: left;
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 10px;
            min-height: unset;
          }

          .dols--item {
            width: 80%;
            @media (min-width: ($bp--medium + 1)) {
              width: 40%;
            }
          }
        }

        &.conditional-pass-fail--wrapper,
        &.webform-type-service-users-percentage-pass-fail {
          .eqa__checkbox--na {
            margin-top: 26px !important;
            padding-left: 5px;
          }
        }

        &.webform-type-risk-assesment-totals,
        &.webform-type-hs-strategy-inspections,
        &.webform-type-condition-service-user-dols {
          .webform-flex--container > .form-item > input,
          .webform-flex--container > .form-item > select {
            width: 100%;
            max-width: 900px;
          }

          .fieldset-legend {
            font-family: $secondary-font;
            font-size: 16px;
            font-weight: bold;
            color: getColor(secondary);
          }

          fieldset.webform-type-radios {
            position: relative;
            &:after {
              position: absolute;
              bottom: -20px;
              font-size: 13px;
              content: attr(data-subtext);
            }
          }

          .webform-flexbox {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
          }
          .element {
            &__left,
            &__right {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;

              @media (min-width: ($bp--medium + 1)) {
                margin-bottom: 1em;
              }
            }
            &__left {
              @media (min-width: ($bp--medium + 1)) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 55%;
                flex: 0 0 55%;
              }
            }
            &__right {
              @media (min-width: ($bp--medium + 1)) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 40%;
                flex: 0 0 40%;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
              }
            }
            &__third {
              @media (min-width: ($bp--small + 1)) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 30%;
                flex: 0 0 30%;
                margin-bottom: 1em;
              }
            }
            &__full {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              margin-bottom: 1em;
            }
          }
        }
      }
    }

    fieldset.eqa--required {
      background-color: rgba(#d9534f, 0.125);
      -webkit-box-shadow: inset 0 0 0px 2px rgba(#d9534f, 0.25);
      box-shadow: inset 0 0 0px 2px rgba(#d9534f, 0.25);

      &.webform-type-standard-pass-fail,
      &.webform-type-pass-fail-by,
      &.conditional-pass-fail--wrapper,
      &.webform-type-service-users-percentage-pass-fail {
        & > .fieldset-wrapper {
          padding-right: 10px;
        }
      }

      & > legend {
        padding-left: 10px;
      }

      .eqa {
        &__recursive--initials {
          .initial--container {
            background-color: rgba(221, 83, 79, 0.125) !important;
          }
        }
      }
    }
  }
}

[data-webform-key="confirmation"] {
  display: inherit;

  @media (min-width: $bp--medium) {
    .webform-flex--container {
      margin: 0 0.5em !important;
    }

    .webform-flexbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 1em -0.5em !important;
    }
  }

  .fieldgroup {
    padding: 1em 0 1.25em;
    margin: 0 0 1em;

    & > legend {
      display: none;
    }

    & > .fieldset-wrapper {
      width: 100%;

      label {
        font-size: 16px;
        font-family: $secondary-font;
        color: #727271 !important;
      }

      textarea {
        border: 2px solid #949494;
        border-radius: 0;
        font-size: 14px;
        font-family: $primary-font;
      }

      .eqa {
        &__form-item {
          &--comments {
            &--full {
              margin: 0;
              -webkit-box-flex: 1;
              -ms-flex: 1 0 100%;
              flex: 1 0 100%;
              width: 100%;
            }
          }

          &--section {
            -webkit-box-flex: 1;
            -ms-flex: 1 0 33%;
            flex: 1 0 33%;
            input[type="text"] {
              padding: 0;
              border: 0;
              font-size: 14px;
              font-family: $primary-font;
            }
          }

          &--results {
            margin: 0 0 0 0 !important;
            input {
              border: 2px solid #949494;
              padding: 10px;
              color: #727271;
            }
          }
        }
      }
    }

    .rag_rating {
      label {
        text-align: center;

        @media (max-width: $bp--medium) {
          font-size: 14px;
        }

        span {
          font-family: $primary-font;
          font-weight: 300;
          @media (max-width: $bp--large) {
            display: block;
            font-size: 0.9em;
          }
        }
      }
      input {
        height: 40px;
        width: 100%;
        border: 4px solid transparent;
        background-color: #ffffff;
        padding: 10px;
        color: white;
      }
      &.blue {
        input {
          border: 4px solid #1565c0;
          color: white;
          &.rag_blue_true {
            background-color: #1565c0;
          }
        }
      }
      &.green {
        input {
          border: 4px solid #009641;
          color: white;
          &.rag_green_true {
            background-color: #009641;
          }
        }
      }
      &.amber {
        input {
          border: 4px solid #f7a600;
          color: white;
          &.rag_amber_true {
            background-color: #f7a600;
          }
        }
      }
      &.red {
        input {
          border: 4px solid #e30613;
          color: white;
          &.rag_red_true {
            background-color: #e30613;
          }
        }
      }
    }

    .rag {
      &_blue {
        &_true {
          input {
            background-color: #1565c0;
          }
        }
      }
      &_green {
        &_true {
          input {
            background-color: #009641;
          }
        }
      }
      &_amber {
        &_true {
          input {
            background-color: #f7a600;
          }
        }
      }
      &_red {
        &_true {
          input {
            background-color: #e30613;
          }
        }
      }
    }

    .confirmation_area {
      background-color: #f7f7f7;
      padding: 20px;
      margin: 20px auto;
      width: calc(100% - 80px);

      input[type="text"] {
        border: 0;
        padding: 0;
        background-color: transparent;
        pointer-events: none;
      }

      .js-form-type-checkbox {
        height: unset;
        margin: 0 0 0 8px;
        label {
          font-family: $primary-font;
          padding: 0 0 0 45px !important;
          &:before {
            top: 0 !important;
            background-color: #fff !important;
          }
          &:after {
            top: 8px !important;
          }
        }
      }
    }

    .grey_boxed_area {
      background-color: #f7f7f7;
      padding: 20px;
      margin: 20px auto;
      width: calc(100% - 80px);

      .js-form-type-checkbox {
        height: unset;
        margin: 0 0 0 8px;
        label {
          font-family: $primary-font;
          padding: 0 0 0 45px !important;
          &:before {
            top: 0 !important;
            background-color: #fff !important;
          }
          &:after {
            top: 8px !important;
          }
        }
      }

      textarea,
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="date"] {
        border: 2px solid #949494;
        border-radius: 0;
        font-size: 14px;
        font-family: $primary-font;
      }
      input[type="date"] {
        text-transform: uppercase;
      }

      .element {
        &__left,
        &__right {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 45%;
          flex: 0 0 45%;
          @media (max-width: $bp--small) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
          }
        }
        &__left {
          margin-right: 5%;
          @media (max-width: $bp--small) {
            margin-right: 0;
            margin-bottom: 1em;
          }
        }
      }
    }
    .simpleconfirmation_area {
      background-color: #f7f7f7;
      padding: 20px;
      margin: 20px auto;
      width: calc(100% - 80px);

      input[type="text"] {
        border: 0;
        padding: 0;
        background-color: transparent;
        pointer-events: none;
      }

      .js-form-type-checkbox {
        height: unset;
        margin: 10px 0 0 8px;

        label {
          font-family: $primary-font;
          padding: 0 0 0 45px !important;
          &:before {
            top: 0 !important;
            background-color: #fff !important;
            left: 0;
          }
          &:after {
            top: 8px !important;
          }
        }
      }
    }
  }
}

.eqa--next-page,
.eqa--prev-page,
input[type="submit"].webform-button--next,
input[type="submit"].webform-button--draft,
input[type="submit"].webform-button--previous,
input[type="submit"].webform-button--submit {
  background-color: getColor(primary);
  color: white;
  padding: 0.75em 1em !important;
  font-family: $primary-font !important;
  font-size: 15px !important;
  border-radius: 5px;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: getColor(secondary);
  }
}

input[type="submit"].webform-button--next {
  position: absolute;
  right: 0;
  top: 0;
}

input[type="submit"].webform-button--previous {
  position: absolute;
  left: 0;
  top: 0;
}

input[type="submit"].webform-button--submit {
  position: absolute;
  right: 50%;
  top: 0;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

input[type="submit"].webform-button--draft {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 auto;
  top: 0;
}

// confirmation page

body.confirmation__page {
  .segment_wrapper {
    opacity: 0.5;
    pointer-events: none;

    .segment_indicator {
      &:after {
        content: attr(data-targetlink);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, calc(-50% + 3px));
        -ms-transform: translate(-50%, calc(-50% + 3px));
        transform: translate(-50%, calc(-50% + 3px));
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: getColor(grey, dark);
      }

      &:hover,
      &.active {
        background-color: getColor(grey, dark) !important;
        color: white;

        &:after {
          color: white;
        }
      }
    }
  }

  input[readonly="readonly"] {
    pointer-events: none;
  }
}

.webform-flexbox {
  &.service_users {
    display: block;

    .js-form-item {
      margin: 1em;
    }

    .form-select {
      width: 100%;
    }
  }
}

@media (min-width: $bp--medium) {
  .webform-flexbox {
    &.service_users {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 2em 1fr 2em 1fr 2em 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 2em;
      grid-row-gap: 1em;

      .js-form-item {
        margin: 1em 0;
      }
    }
    &.service_users > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    &.service_users > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    &.service_users > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }
    &.service_users > *:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 7;
    }
  }
}

@media (min-width: $bp--large) {
  .webform-flexbox {
    &.service_users {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 2em 1fr 2em 1fr 2em 1fr 2em 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 2em;
      grid-row-gap: 1em;

      .js-form-item {
        margin: 1em 0;
      }
    }
    &.service_users > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    &.service_users > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    &.service_users > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }
    &.service_users > *:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 7;
    }
    &.service_users > *:nth-child(5) {
      -ms-grid-row: 1;
      -ms-grid-column: 9;
    }
  }
}

.webform-submission-navigation,
.webform-submission-information {
  display: none;
}

#edit-form-info-content {
  display: none;
}

.view-name-audit_submissions,
.view-name-manage_users {
  padding-top: 40px;
  .form-item-created-min,
  .form-item-created-max,
  .form-actions,
  .form-item-field-original-home-target-id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 2em 0 0 !important;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(40% - 2em);
    flex: 0 0 calc(40% - 2em);

    @media (max-width: $bp--small) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100%);
      flex: 0 0 calc(100%);
      margin: 0 0 1em 0 !important;
    }

    label {
      position: absolute;
      top: -30px;
      height: 22px;
      background-color: #f1f1f1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-family: inherit;
      font-size: 0.8em;
      font-weight: 600;
      line-height: 22px;
      padding: 0 10px;
    }

    input {
      border: 0;
    }
  }

  .form-item-created {
    &-min,
    &-max {
      border: 1px solid #dddddd;
      input {
        padding: 24px 10px 0;
      }
    }
  }

  .form-item-field-original-home-target-id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    label {
      background-color: #008080;
      color: white;
      top: -15px !important;
      line-height: 22px !important;
    }
    #edit-field-original-home-target-id {
      border-color: inherit;
      border-radius: 0;
    }
  }

  #views-exposed-form-manage-users-page-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .js-form-item {
      label {
        line-height: 0;
        margin: 0;
      }
      margin: 0;
    }

    input[type="submit"],
    a {
      margin-right: 1em;
      height: 45px;
      max-height: 45px;
      padding: 1em;
      font-family: "FSMeWeb-Bold", Helvetica, Arial, sans-serif, serif;
      font-size: 14px;
      color: #ffffff;
      background-color: #008080;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #4c4c4b;
      }
    }
  }

  .form-actions {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin: 0 0 0 0 !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @media (max-width: $bp--small) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100%);
      flex: 0 0 calc(100%);
      margin: 0 0 1em 0 !important;
    }

    input[type="submit"] {
      border: 0;
      padding: 1em;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #008080;
      border-radius: 5px;
      cursor: pointer;
      &[value="Reset"] {
        background-color: #727271;
        &:hover {
          background-color: darken(#727271, 10%);
        }
      }
      &:hover {
        background-color: darken(#008080, 5%);
      }
    }
  }

  *[id^="views-exposed-form-audit-submissions"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    fieldset {
      border: none;
      margin: 0;
      padding: 0;

      legend {
        display: none;
      }

      .fieldset-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @media (max-width: $bp--small) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
    }

    @media (max-width: $bp--small) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

#views-exposed-form-audit-reporting-page-2 {
  display: none;
}

.section-audit-submissions,
.no_modal_content {
  #show-modal {
    display: none;
  }
}

// Display name in Segment instead of number
body.section-webform-service_review_audit,
body.section-webform-internal_inspection_report {
  #eqa--webform {
    .segment_wrapper {
      .segment_indicator {
        &:after {
          content: attr(data-segname);
        }
      }
    }
  }
}

.webform-options-display-two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-top: 0.4em;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

// Weekly Goverance Form Overrides
.webform-submission-weekly-clinical-governance-form,
.section-webform-weekly_clinical_governance {
  .webform-progress {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .progress-tracker {
    width: 100%;
    gap: 1em;
  }

  .progress-step {
    background-color: #e6e6e6;
    color: #727271;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(8.3333333333% - 10px);
    height: 43px;
    border-radius: 5px;
    position: relative;
    cursor: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0 !important;

    .progress-marker {
      background-color: rgba(0, 0, 0, 0) !important;
      color: #727271;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      z-index: 20;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      margin-top: 5px;

      &::before,
      &::after {
        background-color: unset !important;
      }
    }

    &.is-complete,
    &.is-active {
      background-color: teal;
      color: #fff;

      .progress-marker {
        color: #ffffff;
        &::before,
        &::after {
          background-color: unset;
        }
      }
    }
    &.is-complete {
      background-color: #4c4c4b;
      color: #fff;

      .progress-marker {
        color: #ffffff;
        &::before {
          background-color: black;
        }
      }
    }
  }

  .webform-progress-tracker {
    .progress-step {
      &::after {
        display: none !important;
      }
    }
  }

  div#edit-actions {
    position: relative;
    margin-top: 2em;

    input[type="submit"] {
      &.webform-button--submit,
      &.webform-button--next {
        visibility: initial !important;
        pointer-events: all !important;
        cursor: pointer !important;
        &:hover {
          background-color: getColor(secondary);
        }
      }
    }

    input[type="submit"].webform-button--next,
    input[type="submit"].webform-button--draft,
    input[type="submit"].webform-button--previous,
    input[type="submit"].webform-button--submit {
      top: -2em !important;
      position: absolute !important;
    }
  }
}
