
.eqa_body{
    .container{max-width:900px;}
}
.eqa_leaderboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .eqa_leaderboard--text{
        width:50%;
    }

    .eqa_leaderboard--image{
        width:50%;
        text-align:right;
        img{
            width:100%;
            max-width:300px;
        }
    }

    @media(max-width: $bp--small){
        .eqa_leaderboard--text,
        .eqa_leaderboard--image{
            width:100%;
            text-align:center;
        }
    }


    h1, h2 {
        margin:0;

    }

    h1 {
        margin-top:1em;
        color: #008080;
        font-family: $secondary-font;
        // font-family: $primary-font;
        font-size: 45px;
        letter-spacing: 0;
        line-height: 1.28em;

        @media (max-width: $bp--medium){
            font-size: 35px;
        }
    }

    h2 {
        font-family: $primary-font;
        margin-top:1em;
        color: #727271;
        font-size: 20px;
        // font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
    }

}
.checks__section{
    margin-top:2em;

    .daily_checks{

        &--header {
            display:block;
            background-color: getColor(primary);
            padding:10px;
            color: #FFFFFF;
            font-family: $primary-font;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom:5px;
            margin-top:2em;

            &.attention {
                background-color: #dc3545;
            }
        }

        &--form_to_check {
            display:block;
            background-color: white;
            padding: 8px 10px 10px;
            border: 1px solid #949494;
            background-color: #FFFFFF;
            font-family: $primary-font;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom:5px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            span.form_name{
                font-size: 17px;
                @media (min-width: ($bp--medium + 1)){
                    padding-right: 1.5em;
                    font-size: 1em;
                }
            }

            .button_container{
                display:-webkit-inline-box;
                display:-ms-inline-flexbox;
                display:inline-flex;
            }

            .bell_notification {
                height: 40px;
                width: 40px;
                background-color: #dc3545;
                border-radius: 100%;
                background-image: url('../assets/icons/svg/eqa_icon_bell.svg');
                background-size: 20px;
                background-position: center;
                background-repeat: no-repeat;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align:center;
                    -ms-flex-align:center;
                        align-items:center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }

            a {
                color: #FFFFFF;
                font-family: $primary-font;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 24px;
                text-align: center;
                border-radius: 5px;
                background-color: #008080;
                padding:10px 15px;
                cursor: pointer;
                margin-left:10px;
                &:hover{
                    background-color: getColor(secondary)
                }
                &.btn--secondary{
                    background-color: getColor(secondary);
                    &:hover{
                        background-color: darken(getColor(secondary),10%);
                    }
                }

            }

            .eqa{
                &__view_button{
                    min-width:130px;
                }

                &__continue_button{
                    background-color: #009641;
                }
            }

        }

    }

}