.manage_homes {

    .homes--form{
        
        .views-exposed-form{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            width: 100%;
            background-color:white; 
            border:0;

            label {
                float:left;
            }

            input[type="text"]{
                float:left;
                font-size: 16px;
                border-radius: 0;
                border: 0px solid #727271;
                line-height: 1.5;
                padding: 0px;
            }

            input[type="submit"]{
                display:none;
            }

            .form-item-completed-min,
            .form-item-completed-max, 
            .form-item-previous,
            .form-item-next {
                label{
                    margin:0;
                }
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: relative;
                -webkit-box-align:center;
                    -ms-flex-align:center;
                        align-items:center;
                margin: 0;
            }

            .form-item-completed-min,
            .form-item-completed-max{         
                width:220px;   
                label{
                    display:none;
                }
                &:before{
                    position: relative;
                    margin-right:.5em;
                }

        

            }

            .form-item-completed-min{
                &:before{content:"From:";}
            }

            .form-item-completed-max{
                &:before{content:"To:";}
            }

            .form-item-previous{
                margin-left:auto;
            }

            .form-item-next{
                margin-left:.75em;
                padding-left:.75em;
                border-left: 1px solid grey    
            }
        
        }

    }

    h3 {
        display:none;

        &:first-of-type{
            display: block;
            background-color: #008080;
            padding: 0px;
            color: #FFFFFF !important;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom: 0px;
            margin-top: 0;

            a{
                color:white;
                pointer-events:none;
            }

        }

    }

}
