/**/
/* Setup*/
/* */
/* Set up default styles for global page layouts*/

.main-content {
    &__sidebars {
        min-height: 100vh;
        a#main-content { display: none; }
        &--first {
            @media (min-width: ($bp--medium + 1)) {
                -ms-grid-columns: 300px 2fr;
                grid-template-columns: 300px 2fr;
            }
            .node__content {
                @media (min-width: ($bp--medium + 1)) {
                    padding-left: 2.5em;
                }
                .body p {
                    max-width: 46em;
                }
            }
            article {
                padding-top: 99px;
            }
            aside {
                background-color: tint(getColor(primary), 98%);
                border-right: 1px solid tint(getColor(primary), 85%);
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                text-align: left;
                nav { width: 100%; }
                @media (min-width: ($bp--medium + 1)) {
                    position: fixed;
                    left: 0px;
                    padding: 99px 0 0;
                    width: 300px;
                    height: 100%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
            }
        }
    }
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 12px !important;
    white-space: pre-wrap !important;
}

header.header{
    border-bottom:0;

}



.header__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: revert;
            flex-direction: revert;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    .logo_eqa{
        width:auto;
        height:50px;
        margin-left:40px;
        @media (max-width: $bp--small){
            margin-left: 10px;
        }
    }

    .logo_exemplar {
        height:50px;
        width:auto;
    }
}



.header__links{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    @media (max-width: $bp--small){

        margin-top:1em;

    }
}


.dashboard__links{
    display:none;
}


body.node-1 {

    .dashboard__links{
        display:inline-block;

        @media (max-width: $bp--small){
            margin-top:1em;
            text-align: center;
        }

        a.dashboard_feedback, a.dashboard_signout {
            padding: 8px 15px;
            font-family: $secondary-font;
            font-size:14px;
            &:hover{
                background-color: darken( #727271, 15%);
            }
        }

    }

    .header__links{
        display:none;
    }

}


.logos_holder{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin:0 auto;

    @media (max-width: $bp--small) {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }

    .logo_eqa{
        width:auto;
        height:70px;
    }

    .logo_exemplar {
        height: 70px;
        width:auto;
        @media (max-width:$bp--small){
            margin-bottom:1em;
        }
    }
}

// login page

.eqa_login_container {
    padding:45px 60px 50px;
    background-color: #008080;
    border-radius: 5px;
    color: white;
    margin: 70px auto;
    width: 100%;
    max-width: 450px;

    @media (max-width:$bp--small){
        padding:1.5em;
        margin: 40px auto 20px;
    }

    h1{
        font-size: 35px;
        line-height:40px;
        margin:0;
        color:white;
        font-family: $secondary-font; font-weight:600;
        text-align:center;
    }

    p{
        color: white;
        font-size: 14px;
    }

    label{
        font-family: $secondary-font;
        font-size: 15px;
        color: white;

        &.form-required:after{
            margin-left:.5em;
            color:white;
        }
    }

    input[type="text"], input[type="password"],
    input[type="date"], input[type="number"]{
        font-family: $primary-font;
        color: #727271;
        border-radius:0;
        padding:10px;
        line-height:24px;
        border:0;

        &::-webkit-input-placeholder{
            font-family: $primary-font;
            color: #727271;
            line-height:24px;
        }

        &::-moz-placeholder{
            font-family: $primary-font;
            color: #727271;
            line-height:24px;
        }

        &:-ms-input-placeholder{
            font-family: $primary-font;
            color: #727271;
            line-height:24px;
        }

        &::-ms-input-placeholder{
            font-family: $primary-font;
            color: #727271;
            line-height:24px;
        }

        &::placeholder{
            font-family: $primary-font;
            color: #727271;
            line-height:24px;
        }
    }

    a{
        &#edit-forgot {
            color: white;
            text-decoration: underline;
            font-size: 14px;
            margin-top: -20px;
            display: block;
            margin-bottom: 20px;
        }
    }
    #edit-actions{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;


        input[type="submit"]{
            background-color: rgba(255,255,255,0);
            border: 1px solid #ffffff;
            padding: 10px 15px;
            border-radius: 5px;
            height: 40px;
            cursor: pointer;
            &:hover{
                background-color:#ffffff;
                color: #008080;
            }
        }
    }
}



// webform submit buttons

div#edit-actions{
    position: relative;

    input[type="submit"] {
        &.webform-button--submit,
        &.webform-button--next {
            //display:none;
            visibility: hidden;pointer-events: none;
            cursor:pointer;
            &:hover{
                background-color: getColor(secondary);
            }
        }
    }
}

.section-webform-feedback{

    form#webform-submission-feedback-add-form {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    div#edit-actions{
        text-align:center;
        input[type="submit"] {
            &.webform-button--submit,
            &.webform-button--next {
                //display:none;
                visibility: visible;
                pointer-events: initial;
                position: relative;
                cursor:pointer;
                &:hover{
                    background-color: getColor(secondary);
                }
            }
        }
    }
}


.greenline{
    background-image: url("../assets/icons/svg/eqa_line--green.svg");
    background-repeat: repeat-x;
    background-position: top center;
    background-size: auto 100%;
    width:100vw;
    height:90px;
}


.dashboard__line{
    margin: 8em 0 01em;
    background-image: url("../assets/icons/svg/eqa_line--green.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    width: calc(100% + 3em);
    height: 140px;
    margin-left: -1.5em;
    @media (max-width: $bp--small){
        margin: 0;
        background-position: center;
        height: 80px;
        width:100%;
    }
}


body.thankyoupage{
    .eqa--header,
    .segment_wrapper,
    .bottom_buttons {
        display:none !important;
    }


}


.webform-confirmation__message {
    margin-top: 70px;
}


.eqa_head__container, main.eqa_form__container{
    background-color: #eee;
}

.eqa_head__container {
    background-color: #eee;
    padding:2em 0 0 0;
    @media (max-width: $bp--medium){
        padding:0;
    }
}


main.eqa_form__container{
    padding: 0 0 2em 0;
    min-height: 100vh;
    height:100%;
    @media (max-width: $bp--medium){
        padding:0;
    }
}


main.eqa_form__login_container{
    background-color: #eee;
    @media (max-width: $bp--medium){
        background-color: white;
    }
    @media (max-width:$bp--small){
        display:block;
        height:auto;
        padding-top:50px;
    }
}

.header__main-wrapper{
    @media (max-width: $bp--medium){
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

    }

    background-color: white;
    // padding: 2em 15px;
    padding: 2em;
    @media (max-width: $bp--small){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding:1em;
    }
}


.home__switcher {

    &.container{
        background-color: #008080;
        color:white;
        padding:1.25em 2em;


        @media (max-width: $bp--small) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .links{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
                    @media (max-width: $bp--small){
                        width:100%;
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-box-ordinal-group:2;
                            -ms-flex-order:1;
                                order:1;
                                margin-bottom:2em;
                    }

            a{
                // background-color: white;
                margin-left: 2em;
                font-family: $secondary-font;
                font-size:14px;
                height:40px;
                // color: darken( #727271, 15%);
                border:0;
                border-radius: 6px;
                cursor: pointer;
                display: inline-block;
                text-align: center;
                white-space: normal;
                padding: 10px 15px;
                background-color: darken( #727271, 15%);
                color: white;


                @media (max-width: $bp--small){
                    background-color: darken( #727271, 15%);
                    color: white;
                    float: unset;
                    width:100%;
                    display:block;
                    margin:0 0 0.5em;

                    &:hover{
                        color: darken( #727271, 15%);
                        background-color: white;
                    }
                }

                &:hover{
                    // background-color: darken( #727271, 15%);
                    // color: white;
                    color: darken( #727271, 15%);
                    background-color: white;
                }
            }
        }

        form{
            width: 75%;
            float: left;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;

            @media (max-width: $bp--small){
                width:100%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-ordinal-group:3;
                    -ms-flex-order:2;
                        order:2;
            }


            .form-item-home{
                margin:0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-box-align:center;
                                -ms-flex-align:center;
                                align-items:center;


                label{
                    margin-right:1.5em;
                    margin-bottom:0;
                    display: block;
                    color: #FFFFFF;
                    font-family: "FSMeWeb-Regular", Helvetica, Arial, sans-serif, serif;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 30px;

                    @media (max-width: $bp--small){
                        font-size: 13px;
                    }
                }

                select{
                    border-radius: 0;
                    border: 2px solid #949494;
                    background-color: #ffffff;
                    padding: 5px 10px;
                    height:40px;
                    font-size: 14px;
                    position: relative;

                }

            }

            input[type="submit"]{
                background-color: white;
                margin-left: 2em;
                font-family: $secondary-font;
                font-size:14px;
                height:40px;
                color: darken( #727271, 15%);
                padding: 5px 10px;
                border:0;
                border-radius: 6px;
                cursor: pointer;

                text-align: center;
                white-space: normal;


                @media (max-width: $bp--xsmall){
                    margin: 1em auto;
                    text-align: center;
                    width: 100%;
                }

                &:hover{
                    background-color: darken( #727271, 15%);
                    color: white;
                }

            }
        }
    }
}



article.eqa_form__container{
    background-color:white;
    // padding:1em 15px;
    padding:1em 2em 2em;
    max-width:1170px;margin:0 auto;
    min-height: 100vh;

    @media (max-width: $bp--small){
        padding:1em;
    }
}

article.eqa_form__login_container{
    background-color: white;
    padding: 200px 2em 2em;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $bp--medium){
        padding:0;
    }
}


// // box checking
// *{
//     outline: 1px solid red;
// }


// Drupal Admin Menu Fix (Admin Mobile Nav breaks modal)
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{
    margin-left:0 !important;
}



input{
    &[readonly="readonly"]{
        pointer-events: none !important;
    }
}







// Hide Drupal Errors
// .messages--error {
//     display: none !important;
// }

.views-element-container {
    max-width:900px;
    margin:0 auto;
}

.view-name-audit_submissions,
.view-name-audit_reporting,
.view-name-outstanding_forms
{
    h3 {
        display:none;
        &:first-of-type{
            display: block;
            background-color: #008080;
            padding: 10px;
            color: #FFFFFF !important;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom: 5px;
            margin-top: 2em;
            a{
                color:white;
                pointer-events:none;
            }
        }

    }

    .audit-submissions {
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        .audit-submission-row{
            margin-bottom:5px;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    @media (max-width: $bp--small){
                        margin-bottom:1em;
                    }

            .image-wrapper{display:none;}

            .content-wrapper{
                width:100%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -ms-flex-wrap:wrap;
                    flex-wrap:wrap;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                        border:1px solid #dddddd;

                .views-field {

                    &-sid,&-webform-id,&-completed,&-uid,&-name,&-nothing,&-nothing-1{
                        padding:40px 10px 10px !important;
                        position: relative;
                        font-size:14px;
                        &:before{
                            height:30px;
                            background-color: #f1f1f1;
                            position:absolute;
                            top:0;
                            left:0;
                            right:0;
                            font-family: inherit;
                            font-size:0.8em;
                            font-weight:600;
                            line-height:30px;
                            padding:0 10px;
                        }
                    }

                    &-sid {
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 5%;
                                flex: 0 0 5%;
                                border-right:1px solid #ddd;
                                text-align:center;
                                @media (max-width: $bp--small){
                                    -webkit-box-flex: 0;
                                        -ms-flex: 0 0 100%;
                                            flex: 0 0 100%;
                                }
                        &:before{
                            text-align:center;
                            content: "ID";
                        }
                    }

                    &-webform-id {
                        -webkit-box-flex: 1;
                            -ms-flex: 1 0 25%;
                                flex: 1 0 25%;
                                border-right:1px solid #ddd;
                                @media (max-width: $bp--small){
                                    -webkit-box-flex: 0;
                                        -ms-flex: 0 0 100%;
                                            flex: 0 0 100%;
                                            text-align:center;
                                }
                        &:before{
                            content: "Form";
                            @media (max-width: $bp--small){
                                text-align:center;
                            }
                        }
                    }

                    &-completed {
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 20%;
                                flex: 0 0 20%;
                                border-right:1px solid #ddd;
                                @media (max-width: $bp--medium){
                                    -webkit-box-flex: 0;
                                        -ms-flex: 0 0 30%;
                                            flex: 0 0 30%;
                                }
                                @media (max-width: $bp--small){
                                    -webkit-box-flex: 0;
                                        -ms-flex: 0 0 100%;
                                            flex: 0 0 100%;
                                            text-align: center;
                                }
                        &:before{
                            content: "Date completed";
                            @media (max-width: $bp--small){
                                text-align:center;
                            }
                        }
                    }

                    &-uid {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 15%;
                            flex: 0 0 15%;
                            border-right:1px solid #ddd;
                            @media (max-width: $bp--medium){
                                -webkit-box-flex: 0;
                                    -ms-flex: 0 0 30%;
                                        flex: 0 0 30%;
                            }
                            @media (max-width: $bp--small){
                                -webkit-box-flex: 0;
                                    -ms-flex: 0 0 100%;
                                        flex: 0 0 100%;
                                        text-align: center;
                            }
                        .views-label-uid{display:none;}
                        &:before{
                            content: "Submitted by";
                            @media (max-width: $bp--small){
                                text-align:center;
                            }
                        }
                    }

                    &-nothing {
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 13%;
                                flex: 0 0 13%;
                                border-right:1px solid #ddd;
                        //padding: 25px 0 0;
                        text-align: center;

                        @media (max-width: $bp--small){
                            -webkit-box-flex: 0;
                                -ms-flex: 0 0 100%;
                                    flex: 0 0 100%;
                            padding:25px;
                        }
                        .views-label {
                            &-nothing{
                                display:none;
                            }
                        }
                        a{
                            padding: .5em 1em;
                            color: white;
                            background-color: #008080;
                            border-radius:5px;
                            font-size: 12px;
                            border:1px solid #008080;
                            &:hover{
                                border:1px solid #727271;
                                background-color: #727271;
                                color:white;
                            }
                        }

                        p{
                            margin: 0px;
                            padding:10px;
                        }

                        &:before{
                            content: "Home";
                            @media (max-width: $bp--small){
                                text-align:center;
                            }
                        }
                    }

                    &-nothing-1{
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 17%;
                                flex: 0 0 17%;
                        //padding: 25px 0 0;
                        text-align: center;

                        @media (max-width: $bp--small){
                            -webkit-box-flex: 0;
                                -ms-flex: 0 0 100%;
                                    flex: 0 0 100%;
                            padding:25px;
                        }
                        .views-label {
                            &-nothing{
                                display:none;
                            }
                        }
                        a{
                            padding: .5em 1em;
                            color: white;
                            // background-color: #008080;
                            background-color: #4c4c4b;
                            border-radius:5px;
                            font-size: 12px;
                            border:1px solid #4c4c4b;
                            &:hover{
                                background-color: white;
                                color: #4c4c4b;
                            }
                        }

                        p{
                            margin: 0px;
                            padding:10px;
                        }

                        &:before{
                            content: "Download";
                            @media (max-width: $bp--small){
                                text-align:center;
                            }
                        }
                    }

                    &-name {
                        -webkit-box-flex: 1;
                            -ms-flex: 1 0 25%;
                                flex: 1 0 25%;
                                border-right:1px solid #ddd;
                                @media (max-width: $bp--small){
                                    -webkit-box-flex: 0;
                                        -ms-flex: 0 0 100%;
                                            flex: 0 0 100%;
                                            text-align:center;
                                }
                        &:before{
                            content: "Home Name";
                            @media (max-width: $bp--small){
                                text-align:center;
                            }
                        }
                    }
                }

            }

        }

    }
}

//Ag -- Recursive Table
.js-form-type-webform-multiple {


    fieldset:first-child {
        & > legend {
            display:none !important ;
        }
    }
    > label{display:none;}

    .webform-multiple-table--handle, .webform-multiple-table--weight, .tabledrag-toggle-weight-wrapper,
    .webform-multiple-add, .form-item-action-points-add-more-items {
        display:none;
    }

    .webform-multiple-table--operations {
        background-color:white;
        border:0;

        @media (max-width: $bp--medium){
            display:block !important;
            width:100% !important;
            background-color: rgba(#008080, .5);
            border-left: 10px solid white;
            border-right: 10px solid white;
            padding:.5em .0 .25em !important;
        }

    }

    table {
        border: 0;
        width: calc(100% - 40px);
        margin: 0 auto;

        thead{
            // display:none;
			border:0;
			-webkit-box-flex: 0;
			    -ms-flex: 0 1 90px;
			        flex: 0 1 90px;

			th{
				border: 0 !important;
				padding: .5em 1em;
			}

			span {
				color: #393942;
				line-height:1.425em;

				&.visually-hidden {
				    position: relative !important;
    				overflow: unset;
    				clip: unset;
    				width: inherit;
    				height: inherit;
    				word-wrap: normal;
				}

				&:before{
					content: "No.";
					display: block;
					font-size: 16px;
					font-weight: bold;
					color: #727271;
				}
			}
        }
		tbody {
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
			max-width: 85%;
		}

        tr[data-drupal-selector$="items-0"]{
            pointer-events:inherit;
            .webform-multiple-table--operations-two{
                input{
                    &[data-drupal-selector$="-remove"]{
                        display:none !important;
                    }
                }
            }
        }

        td {
            padding: 1em;
            background-color: #f7f7f7;
            border:10px solid white;
            // width: calc(100% - 60px);
			width:100%;

            fieldset {
                border-bottom:0 !important;
                margin:0 0 0 0 !important;
                padding:1em !important;
                &.risk-assesment--wrapper{

                    .webform-flexbox{
                        margin-top:2em;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                    justify-content: space-between;
                                    -webkit-box-orient: horizontal;
                                    -webkit-box-direction: normal;
                                        -ms-flex-direction: row;
                                            flex-direction: row;
                    }

                    & > .fieldset-wrapper {
                        width: calc(100%);
                        float: right;
                        @media (max-width: $bp--small) {
                            width: 100%;
                            float: unset;
                        }
                        & > .js-form-item {
                            margin-top: 1em;
                        }

                        label {
                            font-family: $secondary-font;
                            font-size: 16px;
                            font-weight: bold;
                            color: getColor(secondary);
                        }

                        textarea, input[type="text"],input[type="email"], input[type="number"],input[type="date"], select   {
                            border: 2px solid #949494;
                            border-radius: 0;
                            font-size: 14px;
                            font-family: $primary-font;
                        }

                        input[type="date"] {
                            @media (min-width: ($bp--medium + 1)){
                                width:340px;
                                max-width:100%;
                                padding:11px;
                            }

                        }

                        .eqa__checkbox--na {
                            margin-top: 26px !important;
                            padding-left: 5px;
                            width: 100%;

                            @media (max-width: $bp--small) {
                                margin-top: 0 !important;
                                width: 30%;
                                float: left;
                            }
                        }

                        .eqa__radios--pass_fail {
                            width: 100%;
                            bottom: 0;
                            padding-left: 5px;
                            position: absolute;

                            @media (max-width: $bp--small) {
                                position: relative;
                                width: 70%;
                                float: left;
                            }
                        }

                        .eqa {
                            &__form-item {
                                &--comments {
                                    width: calc(100% - 145px);

                                    -webkit-box-flex: 1;
                                    -ms-flex: 1 0 75%;
                                    flex: 1 0 75%;
                                    padding-right:10px;

                                    @media (max-width: ($bp--medium - 1)) {
                                        max-width: calc(505px);
                                    }

                                    @media (max-width: $bp--small) {
                                        margin-top: 2em;
                                        -webkit-box-flex: 1;
                                        -ms-flex: 1 0 100%;
                                        flex: 1 0 100%;
                                        width: 100%;
                                        margin-bottom: 10px;
                                    }

                                    &--full {
                                        margin-top: 2em;
                                        -webkit-box-flex: 1;
                                        -ms-flex: 1 0 100%;
                                        flex: 1 0 100%;
                                        width: 100%;
                                        margin-bottom: 10px;
                                    }
                                }

                                &--section {
                                    input[type="text"] {
                                        padding: 0;
                                        border: 0;
                                        font-size: 14px;
                                        font-family: $primary-font;
                                    }
                                }

                                &--results {
                                    margin: 0 0 0 0 !important;
                                }

                                &--checks {
                                    -webkit-box-flex: 1;

                                    -ms-flex: 1 0 15%;

                                    flex: 1 0 15%;
                                    position: relative;

                                    .webform-flex--container {
                                        -webkit-box-align: stretch;
                                        -ms-flex-align: stretch;
                                        align-items: stretch;
                                    }

                                    @media (max-width: $bp--small) {
                                        -webkit-box-flex: 1;
                                        -ms-flex: 1 0 100%;
                                        flex: 1 0 100%;
                                        width: 100%;
                                        margin-bottom: 10px;

                                        .webform-options-display-two-columns {
                                            display: block;
                                            -webkit-column-count: 2;
                                            -moz-column-count: 2;
                                            column-count: 2;
                                        }
                                    }
                                }
                            }

                            &__radios {
                                &--pass_fail {
                                    legend {
                                        display: none;
                                    }
                                }
                            }

                            &__recursive--initials {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-wrap: wrap;
                                flex-wrap:wrap;
                                margin: 0 0px;
                                -webkit-box-pack:justify;
                                    -ms-flex-pack:justify;
                                        justify-content:space-between;

                                .initial--container {
                                    background-color: #f7f7f7;
                                    -webkit-box-flex: 0;
                                        -ms-flex: 0 0 calc(33% - 10px);
                                            flex: 0 0 calc(33% - 10px);
                                    max-width: 260px;
                                    padding: 20px;
                                    margin-bottom:20px;

                                    &:last-child{
                                        margin-right:auto;
                                        margin-left:20px;

                                    }
                                    @media (min-width: $bp--large) {
                                        -webkit-box-flex: 0;
                                            -ms-flex: 0 0 calc(25% - 10px);
                                                flex: 0 0 calc(25% - 10px);
                                        &:last-child{
                                            margin-right:auto;
                                            margin-left:0;
                                        }
                                    }
                                    @media (max-width: $bp--small) {
                                        -webkit-box-flex: 0;
                                        -ms-flex: 0 0 100%;
                                        flex: 0 0 100%;
                                        padding: 30px;
                                        max-width: 100%;
                                        -webkit-box-shadow: inset 0 0 0 5px white;
                                        box-shadow: inset 0 0 0 5px white;
                                        &:last-child{
                                            margin-right:unset;
                                            margin-left:unset;
                                        }
                                    }
                                    label {
                                        font-size: 13px;
                                    }
                                    select {
                                        border-radius: 0;
                                        border: 2px solid #949494;
                                        background-color: #ffffff;
                                        padding: 10px;
                                        font-size: 14px;
                                        position: relative;
                                        @media (max-width: $bp--small) {
                                            width: 100%;
                                        }

                                        &:after {
                                            content: "";
                                            height: 100%;
                                            border-bottom: 10px solid getColor(grey);
                                            border-left: 10px solid transparent;
                                            border-right: 10px solid transparent;
                                            top: 30%;
                                        }
                                    }

                                    .js-webform-type-radios {
                                        .js-webform-radios {
                                            margin-top:1em;
                                            -webkit-column-gap: 10px;
                                               -moz-column-gap: 10px;
                                                    column-gap: 10px;

                                            @media (max-width: $bp--small) {
                                                display: block;
                                                -webkit-column-count: 2;
                                                -moz-column-count: 2;
                                                column-count: 2;
                                            }
                                            .js-form-type-radio{
                                                padding: 0;
                                                min-width: 30px;
                                                text-align: left;
                                                height: 70px;
                                                @media (max-width: $bp--small) {
                                                    text-align: center;
                                                }
                                            }
                                        }

                                        .fieldset-legends {
                                            display: none;
                                        }

                                        .js-form-type-radio {
                                            label {
                                                padding: 0;
                                                font-size: 15px;
                                                &:before{
                                                    background-color: white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .element{
                        &__left, &__right, &__third{
                            display:-webkit-box;
                            display:-ms-flexbox;
                            display:flex;
                        }
                        &__left{
                            @media (min-width: ($bp--small + 1)){
                                -webkit-box-flex: 0;
                                -ms-flex: 0 0 50%;
                                    flex: 0 0 50%;
                                margin-bottom:1em;
                            }
                            @media (min-width: ($bp--large + 1)){
                                -webkit-box-flex: 0;
                                -ms-flex: 0 0 60%;
                                    flex: 0 0 60%;
                                margin-bottom:1em;
                            }

                        }
                        &__right{
                            @media (min-width: ($bp--small + 1)){
                                -webkit-box-flex: 0;
                                -ms-flex: 0 0 40%;
                                    flex: 0 0 40%;
                                margin-bottom: 1em;
                                -webkit-box-pack: end;
                                    -ms-flex-pack: end;
                                        justify-content: flex-end;
                            }
                        }
                        &__third{

                            @media (min-width: ($bp--small + 1)){
                                    -webkit-box-flex: -1;
                                        -ms-flex: -1 0 30%;
                                            flex: -1 0 30%;
                                margin-bottom:1em;
                            }
                            @media (min-width: ($bp--large + 1)){
                                -webkit-box-flex: 0;
                                -ms-flex: 0 0 30%;
                                    flex: 0 0 30%;
                                margin-bottom:1em;
                            }


                        }
                        &__full{

                            -webkit-box-flex: 0;
                                -ms-flex: 0 0 100%;
                                    flex: 0 0 100%;
                            margin: 1em 0 2em;
                        }
                    }

                }

                textarea, input[type="text"],input[type="email"], input[type="number"],input[type="date"], select{
                    border: 2px solid #949494 !important;
                    border-radius: 0 !important;
                    font-size: 14px !important;
                    font-family: $primary-font !important;
                }

                select{
                    padding:8px 12px !important;
                }

                .element_item {
                    margin-bottom:2em;
                }

                .element_item_half{
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 48%;
                            flex: 0 0 48%;
                            margin-bottom:1em;
                }



            }

            input[type="image"]{
                border:2px solid #008080;
                background-color:white;
                @media (max-width: $bp--medium){
                    opacity: 1;
                    border: 2px solid white;
                }
            }

        }
    }

    .webform-flexbox{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }

    .web_row{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
            flex-direction: row;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
    }

}

.js-webform-states-hidden{
    .js-form-type-webform-multiple {
        table{
            // width:calc( 100% - 180px);
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;

            fieldset {
                & > legend {
                    display:none;
                }

                &.subset_title{
                    legend {
                        display:block !important;
                    }
                }
            }

            textarea, select
            input[type="text"],input[type="email"],
            input[type="number"], input[type="date"]{
                border: 2px solid #949494;
                border-radius: 0;
                font-size: 14px;
                font-family: $primary-font;
            }
        }
    }
}

.risk-assesment--wrapper{

    .webform-flexbox{
        margin-top:2em;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
    }

    & > .fieldset-wrapper {
        width: calc(100% - 102px);
        float: right;
        @media (max-width: $bp--small) {
            width: 100%;
            float: unset;
        }
        & > .js-form-item {
            margin-top: 1em;
        }

        label {
            font-family: $secondary-font;
            font-size: 16px;
            font-weight: bold;
            color: getColor(secondary);
        }

        textarea, input[type="text"],input[type="email"], input[type="number"],input[type="date"]{
            border: 2px solid #949494;
            border-radius: 0;
            font-size: 14px;
            font-family: $primary-font;
        }

        input[type="date"] {
            @media (min-width: ($bp--medium + 1)){
                width:340px;
                max-width:100%;
                padding:11px;
            }

        }

        .eqa__checkbox--na {
            margin-top: 26px !important;
            padding-left: 5px;
            width: 100%;

            @media (max-width: $bp--small) {
                margin-top: 0 !important;
                width: 30%;
                float: left;
            }
        }

        .eqa__radios--pass_fail {
            width: 100%;
            bottom: 0;
            padding-left: 5px;
            position: absolute;

            @media (max-width: $bp--small) {
                position: relative;
                width: 70%;
                float: left;
            }
        }

        .eqa {
            &__form-item {
                &--comments {
                    width: calc(100% - 145px);

                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 75%;
                    flex: 1 0 75%;
                    padding-right:10px;

                    @media (max-width: ($bp--medium - 1)) {
                        max-width: calc(505px);
                    }

                    @media (max-width: $bp--small) {
                        margin-top: 2em;
                        -webkit-box-flex: 1;
                        -ms-flex: 1 0 100%;
                        flex: 1 0 100%;
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    &--full {
                        margin-top: 2em;
                        -webkit-box-flex: 1;
                        -ms-flex: 1 0 100%;
                        flex: 1 0 100%;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }

                &--section {
                    input[type="text"] {
                        padding: 0;
                        border: 0;
                        font-size: 14px;
                        font-family: $primary-font;
                    }
                }

                &--results {
                    margin: 0 0 0 0 !important;
                }

                &--checks {
                    -webkit-box-flex: 1;

                    -ms-flex: 1 0 15%;

                    flex: 1 0 15%;
                    position: relative;

                    .webform-flex--container {
                        -webkit-box-align: stretch;
                        -ms-flex-align: stretch;
                        align-items: stretch;
                    }

                    @media (max-width: $bp--small) {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 0 100%;
                        flex: 1 0 100%;
                        width: 100%;
                        margin-bottom: 10px;

                        .webform-options-display-two-columns {
                            display: block;
                            -webkit-column-count: 2;
                            -moz-column-count: 2;
                            column-count: 2;
                        }
                    }
                }
            }

            &__radios {
                &--pass_fail {
                    legend {
                        display: none;
                    }
                }
            }

            &__recursive--initials {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                // margin: 0 -10px;
                margin: 0 0px;
                -webkit-box-pack:justify;
                    -ms-flex-pack:justify;
                        justify-content:space-between;

                .initial--container {
                    background-color: #f7f7f7;
                    // flex: 0 0 33%;
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 calc(33% - 10px);
                            flex: 0 0 calc(33% - 10px);
                    max-width: 260px;
                    padding: 20px;
                    margin-bottom:20px;
                    // padding: 30px;
                    // -webkit-box-shadow: inset 0 0 0 10px white;
                    // box-shadow: inset 0 0 0 10px white;

                    &:last-child{
                        margin-right:auto;
                        margin-left:20px;

                    }
                    @media (min-width: $bp--large) {
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 calc(25% - 10px);
                                flex: 0 0 calc(25% - 10px);
                        &:last-child{
                            margin-right:auto;
                            margin-left:0;
                        }
                    }
                    @media (max-width: $bp--small) {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        padding: 30px;
                        max-width: 100%;
                        -webkit-box-shadow: inset 0 0 0 5px white;
                        box-shadow: inset 0 0 0 5px white;
                        &:last-child{
                            margin-right:unset;
                            margin-left:unset;
                        }
                    }
                    label {
                        font-size: 13px;
                    }
                    select {
                        border-radius: 0;
                        border: 2px solid #949494;
                        background-color: #ffffff;
                        padding: 10px;
                        font-size: 14px;
                        position: relative;
                        @media (max-width: $bp--small) {
                            width: 100%;
                        }

                        &:after {
                            content: "";
                            height: 100%;
                            border-bottom: 10px solid getColor(grey);
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            top: 30%;
                        }
                    }

                    .js-webform-type-radios {
                        .js-webform-radios {
                            margin-top:1em;
                            -webkit-column-gap: 10px;
                               -moz-column-gap: 10px;
                                    column-gap: 10px;

                            @media (max-width: $bp--small) {
                                display: block;
                                -webkit-column-count: 2;
                                -moz-column-count: 2;
                                column-count: 2;
                            }
                            .js-form-type-radio{
                                padding: 0;
                                min-width: 30px;
                                text-align: left;
                                height: 70px;
                                @media (max-width: $bp--small) {
                                    text-align: center;
                                }
                            }
                        }

                        .fieldset-legends {
                            display: none;
                        }

                        .js-form-type-radio {
                            label {
                                padding: 0;
                                font-size: 15px;
                                &:before{
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .element{
        &__left, &__right, &__third{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
        }
        &__left{
            @media (min-width: ($bp--small + 1)){
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                            flex: 0 0 50%;
                margin-bottom:1em;
            }

        }
        &__right{
            @media (min-width: ($bp--small + 1)){
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 40%;
                            flex: 0 0 40%;
                margin-bottom: 1em;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
            }
        }
        &__third{
            @media (min-width: ($bp--small + 1)){
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 27%;
                            flex: 0 0 27%;
                margin-bottom:1em;
            }
        }
        &__full{

            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            margin: 1em 0 2em;
        }
    }

}


.daterangepicker {

    td{
        &.active,
        &.active:hover {
            background-color: #008080 !important;
        }
    }

    .drp-buttons {
        .cancelBtn{
            background-color: #808080 !important;
        }
        .applyBtn{
            background-color: #008080 !important;
        }
    }

}
.service-users--wrapper{
    .description{
        display:none;
    }
}


.take20_not_available,
.take20_not_avaliable,
.form_not_avaliable{

    &:hover{
        cursor: not-allowed;
    }
}


.daily_checks--form_to_check {

    &.--disabled_form{

        position: relative;

        .form_not_avaliable{
            opacity:.5;
            pointer-events:none;
        }
    }

    &.--disabled{

        position: relative;

        &:before{
            content: "Complete Home Manager & Clinical Walkaround to complete this form!";
            bottom:0;
            left:0;
            background-color: #dc3545;
            color:white;
            position: absolute;
            font-size: 11px;
            padding: 0.3em 0.5em;
            line-height: 1em;
            margin: 0;
        }

        .take20_not_available,
        .take20_not_avaliable {
            opacity:.5;
            pointer-events:none;
        }
    }
}



body {

    article, section {
        & > .page_loader {
            display:none;
        }
    }

    &.page__loading{
        // overflow:hidden;

        article, section {
            position:relative;
            & > .page_loader{
                display: block;
                top: 50%;
                left: 50%;
                position: -webkit-sticky;
                position: sticky;
                width: 100px;
                height: 100px;
                z-index: 1000;
                background-image: url(../assets/icons/loader_transparent.gif);
                background-position: center;
                background-repeat: no-repeat;
                text-align: center;
                -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);

                &:after{
                    display: block;
                    content: "Loading... please wait";
                    position: absolute;
                    bottom: calc(-30px);
                    color: #008080;
                    width: 100%;
                    left: -100px;
                    z-index: 1001;
                    width: 300px;
                    font-size: 18px;
                }

            }
            &:before{
                display: block;
                content:"";
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-color: rgba(255,255,255,0.8);
                z-index:999;
            }

        }

    }
}



// Disable edits on view sumbission
body.section-viewsubmmission {

    fieldset[class^="exemplar_webform_page"]{
        .fieldset-wrapper{
            // pointer-events:none;
            * {
                &:not(textarea):not(div):not(fieldset){
                    pointer-events:none;
                }
            }
        }
    }

    .webform-submission-form {
        *[data-webform-key="confirmation"] fieldset{
            // pointer-events:none;
            * {
                &:not(textarea):not(div):not(fieldset){
                    pointer-events:none;
                }
				.audit-review--wrapper{
					.radios--wrapper, .js-form-type-radio label,input.form-radio{
						pointer-events: inherit !important;
					}
				}
				
            }
        }
    }

}

#edit-confirmation-area {
	#edit-review--wrapper {
		background-color: #f7f7f7;
		padding: 30px 20px 0 !important;
		margin: 20px auto !important;
		width: calc(100% - 80px) !important;
		border: 0 !important;


		.js-form-type-checkbox {
			height: unset;
			margin: 0 0 0 8px;
			label {
				font-family: $primary-font;
				padding: 0 0 0 45px !important;
				&:before {
					top: 0 !important;
					background-color: #fff !important;
				}
				&:after {
					top: 8px !important;
				}
			}
		}

		textarea, input[type="text"],input[type="email"], input[type="number"],input[type="date"]{
			border: 2px solid #949494;
			border-radius: 0;
			font-size: 14px;
			font-family: $primary-font;
		}
		
		input[type="date"]{
			text-transform:uppercase;
		}

		.element{
			&__left,&__right{
				-webkit-box-flex: 0;
					-ms-flex: 0 0 45%;
						flex: 0 0 45%;
				@media (max-width: $bp--small) {
					-webkit-box-flex: 0;
						-ms-flex: 0 0 100%;
							flex: 0 0 100%;
				}

			}
			&__left{
				margin-right:5%;
				@media (max-width: $bp--small) {
					margin-right:0;
					margin-bottom:1em;
				}
			}

		}

        
		.fieldset-wrapper{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			gap: 1em;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			-ms-flex-pack: distribute;
			    justify-content: space-around;

			.js-form-item {
				margin: 0;
				-webkit-box-flex: 0;
				    -ms-flex: 0 0 45%;
				        flex: 0 0 45%
			}


			#edit-review-action--wrapper {
				-webkit-box-flex: 0;
				    -ms-flex: 0 0 100%;
				        flex: 0 0 100%;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;

			}
		}

	}
}

// Hide Date Picker
#ui-datepicker-div{
    @media screen and (max-width:1024px){
        display: none !important;
        max-height: 0px !important;
        overflow: hidden !important;
        padding: 0px !important;
        max-width: 0px !important;
    }
}


/// Edit User Information


body.section-taxonomy,
body.section-user,
body.section-admin{

    form.change-pwd-form,
    form.taxonomy-term-homes-form,
    form.user-form{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        .js-form-item{
            margin:0 0 1em;
        }

        textarea, input[type="text"],input[type="email"], input[type="number"],input[type="password"], input[type="date"]{
            border: 2px solid #949494;
            border-radius: 0;
            font-size: 14px;
            font-family: $primary-font;
        }

        select {
            border-radius: 0;
            border: 2px solid #949494;
            background-color: #ffffff;
            padding: 10px;
            font-size: 14px;
            position: relative;
            @media (max-width: $bp--small) {
                width: 100%;
            }

            &:after {
                content: "";
                height: 100%;
                border-bottom: 10px solid getColor(grey);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                top: 30%;
            }
        }

        .js-webform-type-radios {
            .js-webform-radios {
                margin-top:1em;
                -webkit-column-gap: 10px;
                   -moz-column-gap: 10px;
                        column-gap: 10px;

                @media (max-width: $bp--small) {
                    display: block;
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                }
                .js-form-type-radio{
                    padding: 0;
                    min-width: 30px;
                    // text-align: left;
                    height: 70px;
                    @media (max-width: $bp--small) {
                        text-align: center;
                    }
                }
            }

            .fieldset-legends {
                display: none;
            }

            .js-form-type-radio {
                label {
                    padding: 0;
                    font-size: 15px;
                    &:before{
                        background-color: white;
                    }
                }
            }
        }

        .description{
            font-size:12px;
            line-height:1.425em;
        }


        #edit-account {
            margin:80px auto 1em;
            background-color: #fafafa;
            padding:1em;
            border: 1px solid #ddd;
            position: relative;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

            &:before{
                content: "Account Information";
                position:absolute;
                top:-50px;
                height:50px;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                left:-1px;
                right:-1px;
                background-color: #008080;
                padding: 0 1em;
                color: white;
                border: 1px solid #ddd;

            }

            .form-item-mail, .form-item-name{
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 48%;
                        flex: 0 0 48%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                .description{
                    font-size:12px;
                    line-height:1.425em;
                }
            }

            #edit-status--wrapper{
                margin:0;
                -webkit-box-flex: 1;
                    -ms-flex: 1 0 100%;
                        flex: 1 0 100%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;




                legend{
                    .fieldset-legend{
                        font-size:0;
                        position: relative;

                        &:before{
                            position: relative;
                            content:'Account Status';
                            display:block;
                            font-size:16px;
                            color: #008080;
                            font-weight:700;

                        }

                    }
                }
                #edit-status{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                            .form-item {
                                display:-webkit-inline-box;
                                display:-ms-inline-flexbox;
                                display:inline-flex;
                                -webkit-box-align:center;
                                    -ms-flex-align:center;
                                        align-items:center;
                                margin:1em 2em 1em 0em;
                                input{
                                    margin-right: 1em;
                                }
                                label{
                                    margin-bottom:-2px;
                                }

                            }
                }

            }

        }

        #edit-language{
            display:none;
        }

        #edit-timezone{

            summary{
                display:none;
            }

            -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100%/3 - .5em);
                    flex: 0 0 calc(100%/3 - .5em);
            background-color: #fafafa;
            padding:1em;
            border: 1px solid #ddd;
            margin-bottom:1em;
            position: relative;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

            @media (max-width: $bp--medium){
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
            }

        }
        
        .field--name-field-original-home, .field--name-field-name{
            -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100%/3 - .5em);
                    flex: 0 0 calc(100%/3 - .5em);
            background-color: #fafafa;
            padding:1em;
            border: 1px solid #ddd;
            margin-bottom:1em;
            position: relative;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

            @media (max-width: $bp--medium){
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 calc(50% - .5em);
                        flex: 0 0 calc(50% - .5em);
            }
            @media (max-width: $bp--small){
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
            }
        }

        #edit-field-allowed-homes-wrapper{
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            background-color: #fafafa;
            padding:1em;
            border: 1px solid #ddd;
            position: relative;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                legend {
                    .fieldset-legend {
                        color: #008080;
                    }
                }

                #edit-field-allowed-homes--wrapper{
                    margin-top:1em;
                    width:100%;
                    border-radius: 0;
                    border: 2px solid #949494;
                    background-color: #ffffff;
                    padding: 10px;
                    font-size: 12px;
                    height:auto;
                    max-height: 500px;
                    overflow-y: scroll;



                    .js-form-type-checkbox{
                        display: -webkit-inline-box;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        width: calc(25% - 3px);

                        @media (max-width: $bp--medium){
                            width:calc(33.333% - 3px);
                        }
                        @media (max-width: $bp--small){
                            width:calc(50% - 3px);
                        }
                        @media (max-width: 425px){
                            width:calc(100% - 3px);
                        }

                        label{
                            margin:0;
                            margin-left:1em;
                        }

                    }
                }
        }

        #edit-field-webforms-to-load--wrapper {
            margin-top:1em;
            width:100%;
            border-radius: 0;
            border: 2px solid #949494;
            background-color: #ffffff;
            padding: 10px;
            font-size: 12px;
            height:auto;
            max-height: 500px;
            overflow-y: scroll;

            legend{
                color: #008080 !important;
                span{color: inherit}
                text-transform: capitalize;
            }

            .js-form-type-checkbox{
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                width: calc(25% - 3px);

                @media (max-width: $bp--medium){
                    width:calc(33.333% - 3px);
                }
                @media (max-width: $bp--small){
                    width:calc(50% - 3px);
                }
                @media (max-width: 425px){
                    width:calc(100% - 3px);
                }

                label{
                    margin:0;
                    margin-left:1em;
                }

            }
        }
        #edit-roles--wrapper {
            margin-top:1em;
            width:100%;
            border-radius: 0;
            border: 2px solid #949494;
            background-color: #ffffff;
            padding: 10px;
            font-size: 12px;
            height:auto;
            max-height: 500px;
            overflow-y: scroll;




            .js-form-type-checkbox{
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                width: calc(25% - 3px);

                @media (max-width: $bp--medium){
                    width:calc(33.333% - 3px);
                }
                @media (max-width: $bp--small){
                    width:calc(50% - 3px);
                }
                @media (max-width: 425px){
                    width:calc(100% - 3px);
                }

                label{
                    margin:0;
                    margin-left:1em;
                }

            }
        }

        #edit-field-home-wrapper{
            -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100%/2 - .5em);
                    flex: 0 0 calc(100%/2 - .5em);
            background-color: #fafafa;
            padding:1em;
            border: 1px solid #ddd;
            position: relative;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            display :none;
        }

        .form-actions{
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            padding:1em;
            margin-top:2em;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;


                    input[type=submit], a.button{

                        font-family: "FSMeWeb-Bold", Helvetica, Arial, sans-serif, serif;
                        font-size: 14px;
                        height: 40px;
                        border: 0;
                        border-radius: 6px;
                        cursor: pointer;
                        display: inline-block;
                        text-align: center;
                        white-space: normal;
                        padding: 10px 15px;
                        background-color: #4c4c4b;
                        color: white;
                        &#edit-submit{
                            background-color: #008080;
                            &:hover {
                                background-color: darken(#008080, 10%);
                            }
                        }
                        &#edit-delete{
                            margin-left: 2em;
                            background-color: #4c4c4b;
                            &:hover{
                                background-color: darken(#4c4c4b, 10%);
                            }
                        }
                    }
        }

        .form-item-notify{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            font-size: 13px;
            label{
                margin-left:1em;
            }
        }
        #edit-pass {
            margin-top:0 !important;
            -webkit-box-flex: 0;
                -ms-flex: 1 0 66%;
                    flex: 1 0 66%;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
                    flex-direction: row;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                            @media (max-width: $bp--small){
                                -webkit-box-flex: 0;
                                    -ms-flex: 0 0 100%;
                                        flex: 0 0 100%;
                            }

            .description{
                font-size:12px;
                line-height:1.425em;
            }


            .js-form-type-password{
                margin-top:0 !important;
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 49.25%;
                            flex: 0 0 49.25%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                        @media (max-width: $bp--small){
                            -webkit-box-flex: 0;
                                -ms-flex: 0 0 100%;
                                    flex: 0 0 100%;
                        }
            }
            #edit-pass--description{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
                    @media (max-width: $bp--small){
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 100%;
                                flex: 0 0 100%;
                    }
            }

        }

    }

    form.change-pwd-form{
        #edit-account {
            &:before{
                content:"Change Password";
            }


            .form-item-current-pass {
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 33%;
                        flex: 0 0 33%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                        @media (max-width: $bp--small){
                            -webkit-box-flex: 0;
                                -ms-flex: 0 0 100%;
                                    flex: 0 0 100%;
                        }
                .description{
                    font-size:12px;
                    line-height:1.425em;
                }
            }

            #edit-pass {
                margin-top:0 !important;
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 66%;
                        flex: 0 0 66%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;
                                @media (max-width: $bp--small){
                                    -webkit-box-flex: 0;
                                        -ms-flex: 0 0 100%;
                                            flex: 0 0 100%;
                                }

                .description{
                    font-size:12px;
                    line-height:1.425em;
                }


                .js-form-type-password{
                    margin-top:0 !important;
                        -webkit-box-flex: 0;
                            -ms-flex: 0 0 49.25%;
                                flex: 0 0 49.25%;
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                            @media (max-width: $bp--small){
                                -webkit-box-flex: 0;
                                    -ms-flex: 0 0 100%;
                                        flex: 0 0 100%;
                            }
                }
                #edit-pass--description{
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                        @media (max-width: $bp--small){
                            -webkit-box-flex: 0;
                                -ms-flex: 0 0 100%;
                                    flex: 0 0 100%;
                        }
                }

            }


        }
    }

    form.taxonomy-term-homes-form{
        .field--name-field-image-url,
        .field--name-name,
        .field--name-langcode,
        .field--name-description,
        .field--name-status,
        #edit-relations{
            display:none !important;
        }
    }





    .field--name-field-webforms-to-load{
        margin: 80px auto 1em;
        background-color: #fafafa;
        padding: 1em;
        border: 1px solid #ddd;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &:before{
            position: absolute;
            content: "Manage Home";
            position: absolute;
            top: -50px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            left: -1px;
            right: -1px;
            background-color: #008080;
            padding: 0 1em;
            color: white;
            border: 1px solid #ddd;
        }
    }
}

body.section-admin-structure-taxonomy-manage-homes-add {

    form.taxonomy-term-homes-form {
        position: relative;
        .field--name-field-image-url,
        .field--name-name,
        .field--name-status {
            display: inherit !important;
        }


        .form-item-field-image-url-0-value label {
            font-size: 0;
            &:before{
                content: "Image URL";
                font-size: 16px;
            }
        }

        div#edit-name-wrapper { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
        div#edit-field-image-url-wrapper { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
        div#edit-field-webforms-to-load-wrapper { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
        div#edit-status-wrapper {
            -webkit-box-ordinal-group: 5;
                -ms-flex-order: 4;
                    order: 4;
            -webkit-box-flex: 1;
                -ms-flex: 1 0 100%;
                    flex: 1 0 100%;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-top: 1em;
        }
        div#edit-actions {  -webkit-box-ordinal-group: 6;  -ms-flex-order: 5;  order: 5; }

    }

}



// Change Password

.password-suggestions.description {
    margin: 0 0 1em !important;
    background-color: #fafafa;
    padding: 0.5em;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #393942;
    font-weight: 700;

    ul {
        margin-top:10px;
    }
}

.password-strength__meter {
    margin:.5em 0;
}

.password-strength__indicator {
    &.is-weak { background-color: red; }
    &.is-fair { background-color: darkgoldenrod; }
    &.is-good { background-color: orange; }
    &.is-strong { background-color: lime; }
}


#edit-current-pass--description,
#edit-pass--description,
.password-strength__title,
.password-strength__text,
.js-password-confirm-message {
    margin-top: 10px; font-size:13px;
    a{
        color:inherit !important;
        text-decoration: underline;
    }

}

.js-form-type-password-confirm,
.form-item-pass-pass1,
.form-item-pass-pass2 {
    margin:1em 0 !important;
}



.add_home_button{
    margin-right: 1em;
    height: 45px;
    max-height: 45px;
    padding: 1em;
    font-family: "FSMeWeb-Bold", Helvetica, Arial, sans-serif, serif;
    font-size: 14px;
    color: #ffffff !important;
    background-color: #008080;
    border-radius: 5px;

    cursor: pointer;
    &:hover{
        background-color: #4c4c4b;
    }
}

// Fix for subset_titles not rendering
.js-form-type-webform-multiple {
    fieldset {
        &.subset_title{
            legend {
                display:block !important;
            }
        }
    }
}