// 
// Set the map variables up for colors here
// No CSS should be generated from this file
// 

$getColor: (
    primary: (
        base: #AD004A,
        dark: #8A003B,
        light: #e00060,
        lighter: #efccdb
    ),
    secondary: (
        base: #D8D8D8,
        dark: #bebebe,
        light: #f1f1f1
    ),
    link: (
        base: #AD004A,
        active: #AD004A,
        hover: #8A003B,
        visited: #D8005C
    ),
    text: (
        base: #393942,
    ),
    grey: (
        base: #D8D8D8,
        dark: #bebebe,
        light: #F1F1F1,
        lighter: #F7F7F7
    ),
    white: (
        base: #FFFFFF,
    ),
    black: (
        base: #000000,
    )
);