// 
// Initial setup file of common properties
// 

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Disbale vertical scrolling when mobile nav is active
body.noscroll { overflow: hidden; }

.clearfix { @extend %clearfix; }

.container { @include container; }