{% set mainClasses = [
    'main-content',
    'eqa_form__container',
    'main-content__no-sidebars',
    'clearfix'
] %}
{% set contentClasses = [
    'main-content__no-sidebars--article'
] %}

{% set form_title  = build[1]['#webform_id']|replace({'_': ' '}) %}

<html>      
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>  
    {# {{ entity_print_css }} #}
    <link rel="stylesheet" href="/themes/exemplar_eqa/css/print-styling.css" />

</head>
<body>
    <div class="page">
        <main id="content" {{ attributes.addClass(mainClasses) }} role="main">
            <a id="main-content" tabindex="-1"></a>
            <article{{ attributes.addClass(contentClasses).removeClass('main-content', 'main-content__no-sidebars', 'clearfix') }}>
                <div class="page_loader"></div>
                <div id="eqa--webform">
                    <div class="eqa--header">
                        <h1 class="eqa--title heading-35" style="text-transform: capitalize;">{{ form_title }}</h1>
                        <h2 class="eqa--subtitle heading-20">Part of EQA - Exemplar Quality Assurance</h2>
                        <p></p>
                    </div>
                    <div class="segment_wrapper"></div>
                    {{ build }}
                </div>
            </article>
        </main> 
    </div>
</body>
</html>
