{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *git ( )
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">


    <link rel="icon" type="image/png" sizes="32x32" href="/themes/exemplar_eqa/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/exemplar_eqa/favicon-16x16.png">
    <link rel="shortcut icon" href="/themes/exemplar_eqa/favicon.ico">
    <link rel="manifest" href="/themes/exemplar_eqa/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/exemplar_eqa/assets/logos/apple-touch-icon.png">
    <link rel="mask-icon" href="/themes/exemplar_eqa/assets/logos/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/themes/exemplar_eqa/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


  </head> 
  <body{{ attributes }}>

    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <div class="modal overview-modal">
      <div class="inner-container">

        <div class="close-btn">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 12 12" width="12px" height="12px">
            <path d="M11 12c-.3 0-.5-.1-.7-.3l-10-10C-.1 1.3-.1.7.3.3s1-.4 1.4 0l10 10c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z" fill="#FFFFFF"/>
            <path d="M1 12c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l10-10c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-10 10c-.2.2-.4.3-.7.3z" fill="#FFFFFF"/>
          </svg>
        </div>
        <div class="content-wrapper">
          <h3 class="heading-medium">Overview</h3>
          <p>The Management of Medicines is covered by the Essential Standards of Quality and Safety and by Regulation 11 of the Health and Social Care Act 2008 (Registration Requirements) Regulations 2009. This states that:</p>
          <p>The registered person must protect service users against the risks associated with the unsafe use and management of medicines by means of:</p>
          <p>(a) the making of appropriate arrangements for obtaining, recording, handling, using, safe keeping, safe administration and disposal of medicines used for the purposes of the regulated activity and</p>
          <p>(b) having regard to any guidance issued by the Secretary of State or appropriate expert body in relation to the safe handling and use of medicines.</p>
          <p>The statements within the Regulation and Essential Standards are very broad and therefore all of the criteria detailed in this audit are required in order to meet the Regulations Company policy and best practice.</p>
          <h3 class="heading-medium">Instructions</h3>
          <p>When sampling (usually MAR sheets) the minimum sample should be 5 and all 5 must be correct in order to gain one point. Where there are separate units, within the home it is recommended that a separate audit is used in each unit. The boxes within the comments field should be used to indicate the records checked and the ‘pass’ or ‘fail’ status of the record checked. A random sample should be used and if an area of unsatisfactory is identified, a larger sample should be examined to determine the size of the problem.</p>
          <p>Some questions are not acceptable to some services. Where questions are not applicable e.g. use of syringe drivers. ‘N/A’ should be written beside the question and the total number of N/A questions deducted from the possible score at the end of the Audit.</p>
          <p>The audit should be RAG rated as follows = Red: 0-75%, Amber: 76-85%, and Green: 86-100%.</p>
          <p>MAR sheet is the generic term used for a medicine prescription/administration record.</p>
          <p>The General Practitioner (GP) is usually the source of all prescriptions and directions relating to medicines. However prescriptions may also be received from a nurse prescriber or in some cases a prescribing pharmacist.</p>
          <p>Audit results should be used by Home Manager and Operations Manager to promote movement of the service. Self audits and best practice checks will be reviewed as part of the Bi-Period Service Review.</p>
        </div>
      </div>
    </div>
    <js-bottom-placeholder token="{{ placeholder_token }}">

    <!-- invisible iframe to stop back-forward cache -->
    <iframe style="height:0px;width:0px;visibility:hidden;overflow:hidden" src="about:blank">
      this frame prevents back-forward cache
    </iframe>
    
  </body>
</html>