{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{% block messages %}
    {% for type, messages in message_list %}

	 {% if type == 'error' %}
	 	 {% set warningtitle = 'Hey, there is a problem!' %}
	 {% else %}
		{% set warningtitle = 'Success!' %}
	 {% endif %} 
        {%
            set classes = [
            'messages',
            'messages--' ~ type,
        ]
        %}
        <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes.addClass(classes)|without('role', 'aria-label') }}>
            {% if status_headings[type] == 'Error message' %}
				<div role="alert">
			{% endif %}
					{% if status_headings[type] %}
						<strong class='status-message status-message__{{ type }}'>{{warningtitle}}</strong>
					{% endif %}
					{% if messages|length > 1 %}
						<ul class="messages__list">
							{% for message in messages %}
								<li class="messages__item">{{ message }}</li>
							{% endfor %}
						</ul>
					{% else %}
						<div>
							{{ messages|first }}
						</div>
					{% endif %}
			{% if status_headings[type] == 'Error message' %}
				</div>
            {% endif %}
        </div>
        {# Remove type specific classes. #}
        {% set attributes = attributes.removeClass(classes) %}
    {% endfor %}
{% endblock messages %}