/**/
/* Drupal*/
/* */
/* Any dependancies for Drupal websites*/
/**/

/* */
/* Responsive images*/
/* */
picture,
img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    width: auto;
}

/**/
/* Drupal admin edit tabs*/
/* */
.movement-block {
    background: getColor(grey);
    border-radius: 20px;
    display: none;
    height: 150px;
    left: 50%;
    padding: 30px;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
    z-index: 10000;
    -webkit-box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);

    .close {
        background-image: url("../assets/icons/svg/drupal-theme/close.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
    }

    .movement-arrow {
        background-image: url("../assets/icons/svg/drupal-theme/move.svg");
        height: 30px;
        position: absolute;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        width: 30px;

        &:hover {
            opacity: 0.5;
        }

        &.click-to-hide {
            background-image: url("../assets/icons/svg/drupal-theme/view.svg");
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &.up {
            background-image: url("../assets/icons/svg/drupal-theme/up.svg");
            left: 50%;
            top: 20px;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

        &.down {
            background-image: url("../assets/icons/svg/drupal-theme/down.svg");
            bottom: 20px;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

        &.left {
            background-image: url("../assets/icons/svg/drupal-theme/left.svg");
            left: 20px;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }

        &.right {
            background-image: url("../assets/icons/svg/drupal-theme/right.svg");
            right: 20px;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }
    }
}

.hide-button {
    display: none;
}

.edit-tabs {
    left: 10px;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 20;

    ul {
        -webkit-box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        background: #cecece;
        border-radius: 30px;
        border: solid 2px #cecece;
        font-size: 0;
        list-style: none;
        overflow: hidden;
        padding: 0;

        li {
            margin: 0;
            padding: 5px;

            &:nth-child {
                display: none;
            }

            a {
                &.is-active {
                    display: none !important;
                }

                background-position: center;
                background-repeat: no-repeat;
                background-size: 20px;
                background-color: #FFFFFF;
                border-radius: 50%;
                display: inline-block;
                font-size: 0;
                height: 40px;
                width: 40px;

                &:before {
                    background-color: #FFFFFF;
                    content: ' ';
                    font-size: 20px;
                    left: 0px;
                    opacity: 0;
                    padding: 5px 20px;
                    pointer-events: none;
                    position: absolute;
                    -webkit-transition: all 250ms ease;
                    transition: all 250ms ease;
                    z-index: -1;
                }

                &:hover {
                    background-color: rgba(white, 0.8);

                    &:before {
                        opacity: 1;
                        left: 70px;
                    }
                }

                &.view {
                    background-image: url("../assets/icons/svg/drupal-theme/view.svg");

                    &:before {
                        content: 'View';
                    }
                }

                &.Edit {
                    background-image: url("../assets/icons/svg/drupal-theme/edit.svg");

                    &:before {
                        content: 'Edit';
                    }
                }

                &.Delete {
                    background-image: url("../assets/icons/svg/drupal-theme/delete.svg");

                    &:before {
                        content: 'Delete';
                    }
                }

                &.Revisions {
                    background-image: url("../assets/icons/svg/drupal-theme/history.svg");

                    &:before {
                        content: 'History';
                    }
                }

                &.Devel {
                    background-image: url("../assets/icons/svg/drupal-theme/devel.svg");

                    &:before {
                        content: 'Devel';
                    }
                }

                &.Clone {
                    background-image: url("../assets/icons/svg/drupal-theme/clone.svg");

                    &:before {
                        content: 'Clone';
                    }
                }

                &.clear {
                    background-image: url("../assets/icons/svg/drupal-theme/clear.svg");

                    &:before {
                        content: 'Cookies';
                    }
                }
            }
        }
    }

    .is-active {
        display: none;
    }

    &.hide {
        ul.tabs {
            display: none;
        }

        .hide-button {
            background-image: url(../assets/icons/svg/drupal-theme/move-verticle.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background: #cecece;
            border-radius: 0;
            border-radius: 30px;
            border: solid 2px #cecece;
            -webkit-box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.2);
            display: block;
            height: 28px;
            margin-top: 0px !important;
            overflow: hidden;
            width: 28px;
        }
    }

    &.up {
        bottom: auto;
        left: 50%;
        right: auto;
        top: 100px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

        li {
            display: inline-block;
        }
    }

    &.down {
        bottom: 10px;
        left: 50%;
        right: auto;
        top: auto;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

        li {
            display: inline-block;
        }
    }

    &.left {
        bottom: auto;
        left: 10px;
        right: auto;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    &.right {
        bottom: auto;
        left: auto;
        right: 10px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .movepod {
        background-image: url(../assets/icons/svg/drupal-theme/move.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 0;
        height: 28px;
        margin-top: 0;
        width: 100%;
    }
}

/* */
/* Messages*/
/* */
.messages ul li {
    word-break: break-all;
}

div[role="alert"] {
    @include container;

    background: no-repeat 10px 17px; /* LTR */
    background-color: #fdf8ed;
    background-image: url(../assets/icons/svg/warning.svg);
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent; /* LTR */
    border-radius: 2px;
    border-width: 1px 1px 1px 0; /* LTR */
    border: 1px solid;
    -webkit-box-shadow: -8px 0 0 #e09600;
    box-shadow: -8px 0 0 #e09600; /* LTR */
    color: #734c00;
    margin: spacing(xlarge) auto;
    overflow-wrap: break-word;
    padding: 15px 20px 15px 35px; /* LTR */
    word-wrap: break-word;
    font-size: em(fontSize(xxsmall));
}

/* Default message styles from seven theme*/
.messages {
    background: no-repeat 10px 17px; /* LTR */
    border: 1px solid;
    border-width: 1px 1px 1px 0; /* LTR */
    border-radius: 2px;
    padding: 15px 20px 15px 35px; /* LTR */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

[dir="rtl"] .messages {
    border-width: 1px 0 1px 1px;
    background-position: right 10px top 17px;
    padding-left: 20px;
    padding-right: 35px;
    text-align: right;
}

.messages + .messages {
    margin-top: 1.538em;
}

.messages__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.messages__item + .messages__item {
    margin-top: 0.769em;
}

.messages--status {
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent; /* LTR */
    background-image: url(../assets/icons/svg/check.svg);
    -webkit-box-shadow: -8px 0 0 #77b259;
    box-shadow: -8px 0 0 #77b259; /* LTR */
}

[dir="rtl"] .messages--status {
    border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
    -webkit-box-shadow: 8px 0 0 #77b259;
    box-shadow: 8px 0 0 #77b259;
    margin-left: 0;
}

.messages--warning {
    background-color: #fdf8ed;
    background-image: url(../assets/icons/svg/warning.svg);
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent; /* LTR */
    color: #734c00;
    -webkit-box-shadow: -8px 0 0 #e09600;
    box-shadow: -8px 0 0 #e09600; /* LTR */
}

[dir="rtl"] .messages--warning {
    border-color: #f4daa6 transparent #f4daa6 #f4daa6;
    -webkit-box-shadow: 8px 0 0 #e09600;
    box-shadow: 8px 0 0 #e09600;
}

.messages--error {
    background-color: #fcf4f2;
    color: #a51b00;
    background-image: url(../assets/icons/svg/error.svg);
    border-color: #f9c9bf #f9c9bf #f9c9bf transparent; /* LTR */
    -webkit-box-shadow: -8px 0 0 #e62600;
    box-shadow: -8px 0 0 #e62600; /* LTR */
}

[dir="rtl"] .messages--error {
    border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
    -webkit-box-shadow: 8px 0 0 #e62600;
    box-shadow: 8px 0 0 #e62600;
}

.messages--error p.error {
    color: #a51b00;
}

@mixin element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* */
/* Hide text */
/**/
.element-invisible,
.off-screen {
    @include element-invisible;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
}

/* */
/* Login*/
/**/
.page-user #page {
    @include container;
}
