{#
/**
* @file
* Bartik's theme implementation to display a header region.
*
* Available variables:
* - content: The content for this region, typically blocks.
* - attributes: HTML attributes for the region div.
* - region: The name of the region variable as defined in the theme's
* .info.yml file.
*
* @see template_preprocess_region()
*/
#}

<div class="search-wrapper">
	<div class="container">
		{{ drupal_entity('block','searchform') }}
	</div>
</div>

<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
	<div class="header__utility-wrapper">
		<div class="container">
			<div class="header__search--trigger">Search</div>
			{{ drupal_menu('top-navigation', 1, 1) }}
		</div>
	</div>
	<div class="header__main-wrapper container">
		<div class="header__logo">
			<a href="/">
				<img src="/{{ directory }}/logo.svg" alt="">
			</a>
		</div>
		<button class="mobileNav__trigger" aria-label="Toggle Navigation" role="button" type="button">
			<span class="mobileNav__lines"></span>
			<span class="mobileNav__label">Menu</span>
		</button>
		<div class="header__primaryNav">
			{{ drupal_menu('main', 1, 1, TRUE) }}
		</div>
	</div>
</header>
