{#
/**
 * @file
 * Bartik's theme implementation to display a header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<footer id="footer" role="contentinfo">
    <p>&copy; {{ entry.dateUpdated  | date('Y') }}, {{ drupal_config('system.site', 'name') }}. Website design and development by <a href="https://www.fluid-ideas.co.uk" target="_blank">Fluid Ideas</a>.</p>
</footer>