// 
// Set the map variables up for media queries here
// No CSS should be generated from this file
//

$bp--xsmall: 425px;
$bp--small: 640px;
$bp--medium: 834px;
$bp--laptop: 960px;
$bp--large: 1024px;
$bp--xlarge: 1200px;
