// 
// Set the map variables up for colors here
// No CSS should be generated from this file
// 

$getColor: (
    primary: (
        base: #008080
    ),
    secondary: (
        base: #727271,
        dark: #727271,
        light: #f1f1f1
    ),
    link: (
        base: #008080,
        active: #008080,
        hover: #008080,
        visited: #008080
    ),
    text: (
        base: #393942,
    ),
    grey: (
        base: #e6e6e6,
        dark: #727271,
        light: #F1F1F1,
        lighter: #F7F7F7
    ),
    white: (
        base: #FFFFFF,
    ),
    black: (
        base: #000000,
    )
);