// 
// Buttons
// 

.btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-clip: border-box;
    border-radius: $fb__forms-radius;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: $body-font;
    font-size: $fb--base-fontSize;
    line-height: $fb--base-lineHeight;
    padding: 15px 30px;
    text-align: center;
    -webkit-transition: all 250ms linear 0s;
    transition: all 250ms linear 0s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: normal;
    &:hover { cursor: pointer; } 
    &--primary {
        background-color: getColor(primary);
        &:link,
        &:visited {
            color: #FFFFFF;
        }
        &:hover {
            background-color: getColor(primary, dark);
        }
    }
    &--outline-primary {
        background-color: #FFFFFF;
        border: 2px solid getColor(primary);
        &:link,
        &:visited {
            color: getColor(primary);
        }
        &:hover {
            background-color: getColor(primary);
            border: 2px solid getColor(primary);
            color: #FFFFFF;
        }
    }
    &--secondary {
        background-color: getColor(secondary);
        color: getColor(grey);
        &:link,
        &:visited {
            color: #FFFFFF;
        }
    }
    &--outline-secondary {
        background-color: #FFFFFF;
        border: 2px solid getColor(grey);
        &:link,
        &:visited {
            color: getColor(secondary);
        }
        &:hover {
            background-color: getColor(secondary);
            border: 2px solid getColor(grey);
            color: #FFFFFF;
        }
    }
}

/* Common buttons and variables*/
input[type="button"],
.button {
    &.button-ic {
        padding-left: 0 !important;
        &.button-sm span {
            margin-right: 0.5em;
            width: 40px;
            height: 40px;
        }
        &.button-rg span {
            margin-right: 0.5em;
            width: 44px;
            height: 44px;
        }
        &.button-lg span {
            margin-right: 0.5em;
            width: 50px;
            height: 50px;
        }
        svg, span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/* Button groups inline*/
.button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .button {
        border-radius: 0;
        margin-left: -1px;
        &:first-child {
            border-radius: 6px 0 0 6px;
            margin-left: 0;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &.button-ic {
            padding: 0;
            span {
                margin-right: 0;
            }
        }
    }
}