// 
// Base form styling
//

form {
    *:focus {
        background-color: aliceblue;
        outline-offset: 0px;
        outline: 4px solid $fb__forms-focus-color;
    }

    .js-form-type-color {
        margin: 0;
    }

    .js-text-format-wrapper .js-form-type-textarea {
        margin-bottom: 0;
    }

    fieldset span.fieldset-legend {
        margin-bottom: 0;
    }

    .js-form-item,
    .js-form-actions {
        margin: spacing(xxlarge) 0;

        .description {
            margin: 0.75em 0 0;
        }
    }

    span.fieldset-legend,
    .js-form-type-textarea label,
    label {
        color: getColor(text);
        display: block;
        font-weight: fontWeight(regular);
        line-height: $fb--base-lineHeight;
        margin-bottom: 8px;
        padding: 0;

        &.form-required {
            &:after {
                content: "*";
                display: inline-block;
                color: #f00;
            }
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
        font-size: $fb__forms-input-font-size;
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;
        color: getColor(text);
        line-height: $fb--base-lineHeight;
        padding: $fb__forms-input-padding;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select {
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;
        color: getColor(text);
        height: 53px;
        max-width: 100%;

        &::-ms-expand {
            display: none;
        }
    }

    textarea {
        font-size: $fb__forms-input-font-size + 2;
        border-radius: $fb__forms-radius;
        border: $fb--forms-border-width solid $fb__forms-bounding-box;
        color: getColor(text);
        line-height: $fb--base-lineHeight;
        padding: $fb__forms-input-padding;
        width: 100%;
    }

    input[type="submit"] {
        color: #FFFFFF;
        font-size: $fb__forms-input-font-size;
        padding: 0 1em;

        @extend .btn--primary;
    }

    /* Default checkboxes override*/
    .js-webform-checkboxes,
    .js-webform-radios {
        .form-item {
            margin: 0;

            .description {
                margin-left: -$fb__forms-checkbox;
            }
        }

        .js-form-type-checkbox,
        .js-form-type-radio {
            clear: left;
            margin: 0 0 $fb__forms-checkbox;
            min-height: $fb__forms-checkbox;
            padding: 0 0 0 $fb__forms-checkbox;
            position: relative;

            input {
                cursor: pointer;
                height: $fb__forms-checkbox;
                left: 0;
                margin: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: $fb__forms-checkbox;
                z-index: 1;
            }

            label {
                display: inline-block;
                margin-bottom: 0;
                padding: calc(#{$fb__forms-checkbox}/12) 10px;
                cursor: pointer;

                &:before {
                    background: inherit;
                    border: $fb--forms-border-width solid $fb__forms-bounding-box;
                    content: "";
                    height: $fb__forms-checkbox;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: $fb__forms-checkbox;
                }
            }

            input:checked + label:after {
                opacity: 1;
            }

            input:focus + label:before {
                background-color: aliceblue;
                outline-offset: 0px;
                outline: 0;
                box-shadow: 0 0 0 4px $fb__forms-focus-color;
            }
        }

        .js-form-type-checkbox {
            label {
                &:after {
                    background: inherit;
                    border: solid;
                    border-width: 0 0 3px 3px;
                    border-top-color: inherit;
                    content: "";
                    height: calc(#{$fb__forms-checkbox}/4.4);
                    left: 8px;
                    opacity: 0;
                    position: absolute;
                    top: 10px;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    width: calc(#{$fb__forms-checkbox}/2);
                }
            }
        }

        .js-form-type-radio {
            label {
                &:before {
                    border-radius: 50%;
                }

                &:after {
                    background: inherit;
                    border-radius: 50%;
                    border: 7px solid getColor(primary);
                    content: "";
                    height: 0;
                    left: 8px;
                    opacity: 0;
                    position: absolute;
                    top: 8px;
                    width: 0;
                }
            }
        }
    }
}

/* Alternative label layout when labels shrink on focus*/
form.alternative-labels {
    .js-form-type-textfield,
    .js-form-type-email,
    .js-form-type-tel,
    .js-form-type-webform-email-multiple,
    .js-form-type-password {
        position: relative;

        label {
            cursor: text;
            left: 1em;
            position: absolute;
            top: 1em;
            -webkit-transition: -webkit-transform .2s ease-out;
            transition: -webkit-all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
            transition: all .2s ease-out, -webkit-all .2s ease-out;
            -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            text-align: initial;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            pointer-events: none;
        }

        label.focus {
            color: getColor(grey);
            left: 0;
            top: -4px;
            -webkit-transform: translateY(-80%) scale(0.8);
            transform: translateY(-80%) scale(0.8);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }
    }

    .js-form-item-description-display-before {
        label {
            top: 2.2em;

            &:focus {
                top: 0.3em;
            }
        }
    }
}
