/**/
/* Modals*/
/* */

#video-container {
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50000;
  @media (max-width: 640px) {
    background-color: #000000;
  }
  @media (min-width: 641px) {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    iframe {
      border: 2px solid;
      max-width: 100%;
      width: 640px;
    }
  }
  .inner-container {
    display: flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
    .close-btn {
      color: #FFFFFF;
      cursor: pointer;
      font-size: 0;
      margin: 0;
      position: absolute;
      right: 40px;
      top: 40px;
    }
  }
}